.vdesktop1.escoladeltreball.org {fill: #F00000; background: #F00000;}
.vdesktop2.escoladeltreball.org {fill: #00000F; background: #A00001;}
.windows {fill: #00FFFF; background: #00FFFF;}
.linux {fill: #006400; background: #006400;}
