<div class="container">
    <div class="row">
        {% for u in users %}

            <div class="col-sm-2"  style="padding:0px">
                  <div class="profile_pic" style="padding:0px">
                    <img src="/static/img/userxx.png" alt="..." onerror="this.src='/static/img/user.png'" class="img-circle profile_img" style="padding:0px;margin-top:0px">
                  </div>
                  <div class="profile_info" style="padding:0px;background-color:Grey">
                    <span>{{ u.id }}</span>
                    <h2>{{ u.name }}</h2>
                  </div>
            </div>
        {% endfor %}
    </div>
</div>
