    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <label for="vcpus">Nº virtual cpus</label>
            <input id="hardware-vcpus" name="hardware-vcpus" />
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
                <label>Memory(MB)</label>
                <input id="hardware-memory" name="hardware-memory"/>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
               <label>Graphics:</label>
               <select class="form-control roundbox" id="hardware-graphics" name="hardware-graphics">
               </select>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
               <label>Video:</label>
               <select class="form-control roundbox" id="hardware-videos" name="hardware-videos">
               </select>
        </div>                      
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
               <label>Boot:</label>
               <select class="form-control roundbox" id="hardware-boot_order" name="hardware-boot_order">
               </select>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
               <label>Network:</label>
               <select class="form-control roundbox" id="hardware-interfaces" name="hardware-interfaces">
               </select>
        </div>  
        <div class="col-md-3 col-sm-3 col-xs-12">
               <label>Disk Bus:</label>
               <select class="form-control roundbox" id="hardware-diskbus" name="hardware-diskbus">
                  <option value="virtio" selected="default">
                     Default
                  </option>
                  <option value="virtio">
                     Virtio
                  </option>                     
                  <option value="ide">
                     IDE
                  </option> 
                  <option value="sata">
                     SATA
                  </option>  
               </select>
        </div>         
        <div class="col-md-3 col-sm-3 col-xs-12">
               <label>Hyper pool:</label>
               <select class="form-control roundbox" id="hypervisors_pools" name="hypervisors_pools">
                  <option value="default" selected="default">
                     Default
                  </option>
               </select>
        </div>  
        <div class="col-md-3 col-sm-3 col-xs-12">
               <label>Forced Hyp:</label>
               <select class="form-control roundbox" id="forced_hyp" name="forced_hyp">
                  <option value="default" selected="default">
                     Default
                  </option>
               </select>
        </div>         
    </div>
    
    <script src="/static/js/snippets/domain_hardware.js"></script> 
