               <div id="{{hosts[r][c].ip}}" class="resize-drag" style="width:100%;">
                        <div class="thumbnail" style="height:175px;">
                          <div class="image view view-first" style="height:110px">
                          {% if hosts[r][c].status == 1 %}
                            Offline
                          {% endif%}
                          {% if hosts[r][c].status == 2 %}
                            <img style="width: 100%; display: block;" src="https://www.escoladeltreball.org/fotosalumnesdni/{{hosts[r][c].ip}}.JPG" onerror="this.src='/static/img/user.png'" alt="image" />
                          {% endif%}
                            <div class="mask" style="height:150px">
                              <p>{{hosts[r][c].ip}}<br>{{hosts[r][c].hostname}}</p>
                              <div class="tools tools-top" style="bottom:22px">
                                <a href="#"><i class="fa fa-camera"></i></a>
                                <a href="#"><i class="fa fa-download"></i></a>
                                <a href="#"><i class="fa fa-"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <table class="tg" style="width:100%">
                              <tr>
                                <th class="image view view-first" style=" height: 24px"><<DOMAIN NAME>>
                                    <div id="<<DOMAIN ID>>"class="mask" style="height:40px; background-color: rgba(128, 255, 0, 0.2);>
                                      <div class="tools" style="bottom:45px">
                                        <button type="button" id="btn-stop" class="btn btn-pill-left btn-danger btn-xs">
                                            <i class="fa fa-stop"></i></button>
                                        <button type="button" id="btn-display" class="btn btn-pill-right btn-success btn-xs">
                                            <i class="fa fa-desktop"></i></button>
                                      </div>
                                    </div>
                                </th>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
