/* Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    /* Visual */
    background: #2a3f54;
    color: #73879c;
    font-family: "Helvetica Neue", "Roboto", "Arial", "Droid Sans", "sans-serif";

    /* Position */
    text-align: center;
}

img {
    /* Size */
    height: 300px;

    /* Position */
    margin-top: 60px;
}

h1 {
    /* Size */
    font-size: 90px;
    line-height: 90px;

    /* Position */
    margin: 60px 0 20px 0;
}

h2 {
    /* Size */
    font-size: 18px;

    /* Visual */
    font-weight: 400;
}

p {
    /* Size */
    font-size: 13px;
}