# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Python compiled
*.pyc

# javascript bower
webapp/bower_components/
node_modules/
webapp/node_modules/

#rethink data
rethinkdb_data/

# log
*.log

#pycharm
.idea/
webapp/.idea/
engine/.idea/

