[submodule "docker/static/noVNC/src"]
	path = docker/static/noVNC/src
	url = https://github.com/novnc/novnc
	branch = master
[submodule "docker/static/spice-ts"]
	path = docker/static/spice-ts
	url = https://gitlab.com/nefix/spice-ts
	branch = "main"
