# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Python compiled
*.pyc

# javascript bower
webapp/bower_components
node_modules/
webapp/node_modules/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore the configuration file
config.yml

# Ignore dependencies
.go

#rethink data
rethinkdb_data/

# log
*.log
logs/*

#pycharm
.idea/
webapp/.idea/
engine/.idea/

#pytest
.pytest_cache
__pycache__

#ipython
.ipython

#backups
backups/*

#uploads
uploads/*

#docker run scripts
run_docker_engine.py
run_docker_webapp.py

#Generated certs
install/viewer-certs/*.pem
install/viewer-certs/*.csr
test/
install/viewer-certs/host_name

#Conf files
isard.conf

#Csv files
csv/

#Wizard disable
install/.wizard

devel.yml
build-devel-images.sh
known_hosts
