networks:
  isard-network:
    external: false
    name: isard-network
services:
  isard-api:
    build:
      context: .
      dockerfile: api/docker/Dockerfile
      target: production
    container_name: isard-api
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: isard.escoladeltreball.org
      HOSTNAME: isardvdi-edt
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: isardvdi-edt
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: '451903641'
      TELEGRAM_BOT_TOKEN: 1116693240:AAFo_H5L0nSFruZVSMW4Zl5EmQXtDCyG2MU
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: flamenkit0
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: isard.escoladeltreball.org
      WEBAPP_LETSENCRYPT_EMAIL: info@isardvdi.com
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: aq0Z7MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: isard/api:2.0.0-rc1
    networks:
      isard-network: {}
    ports:
    - published: 7039
      target: 7039
    restart: unless-stopped
    volumes:
    - ./webapp/webapp/lib:/api/lib:ro
    - /etc/localtime:/etc/localtime:ro
  isard-backend:
    build:
      context: ./backend
      dockerfile: build/package/Dockerfile
    container_name: isard-backend
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: isard.escoladeltreball.org
      HOSTNAME: isardvdi-edt
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: isardvdi-edt
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: '451903641'
      TELEGRAM_BOT_TOKEN: 1116693240:AAFo_H5L0nSFruZVSMW4Zl5EmQXtDCyG2MU
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: flamenkit0
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: isard.escoladeltreball.org
      WEBAPP_LETSENCRYPT_EMAIL: info@isardvdi.com
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: aq0Z7MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: isard/backend:2.0.0-rc1
    networks:
      isard-network: {}
    ports:
    - published: 1312
      target: 1312
    restart: unless-stopped
    volumes:
    - /opt/isard/backend/keys:/keys:rw
    - /opt/isard/backend/metadata:/metadata:rw
  isard-db:
    container_name: isard-db
    image: rethinkdb
    networks:
      isard-network: {}
    ports:
    - published: 8080
      target: 8080
    restart: unless-stopped
    volumes:
    - /opt/isard/database:/data:rw
    - /etc/localtime:/etc/localtime:ro
  isard-engine:
    build:
      context: .
      dockerfile: engine/docker/Dockerfile
      target: production
    container_name: isard-engine
    depends_on:
    - isard-db
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: isard.escoladeltreball.org
      HOSTNAME: isardvdi-edt
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: isardvdi-edt
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: '451903641'
      TELEGRAM_BOT_TOKEN: 1116693240:AAFo_H5L0nSFruZVSMW4Zl5EmQXtDCyG2MU
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: flamenkit0
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: isard.escoladeltreball.org
      WEBAPP_LETSENCRYPT_EMAIL: info@isardvdi.com
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: aq0Z7MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: isard/engine:2.0.0-rc1
    networks:
      isard-network: {}
    restart: unless-stopped
    volumes:
    - /opt/isard/certs/viewers:/certs:rw
    - /etc/localtime:/etc/localtime:ro
    - /opt/isard-local/logs/engine:/isard/logs:rw
    - /opt/isard/sshkeys:/root/.ssh:rw
  isard-grafana:
    build:
      context: .
      dockerfile: docker/grafana/Dockerfile
      target: production
    container_name: isard-grafana
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: isard.escoladeltreball.org
      HOSTNAME: isardvdi-edt
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: isardvdi-edt
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: '451903641'
      TELEGRAM_BOT_TOKEN: 1116693240:AAFo_H5L0nSFruZVSMW4Zl5EmQXtDCyG2MU
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: flamenkit0
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: isard.escoladeltreball.org
      WEBAPP_LETSENCRYPT_EMAIL: info@isardvdi.com
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: aq0Z7MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: isard/grafana:2.0.0-rc1
    networks:
      isard-network: {}
    ports:
    - published: 2004
      target: 2004
    - published: 3000
      target: 3000
    restart: unless-stopped
    volumes:
    - /opt/isard/grafana/grafana/data:/grafana/data:rw
    - /opt/isard/grafana/graphite/conf:/opt/graphite/conf:rw
    - /opt/isard/grafana/graphite/storage:/opt/graphite/storage:rw
  isard-hypervisor:
    build:
      context: .
      dockerfile: docker/hypervisor/Dockerfile
      target: production
    container_name: isard-hypervisor
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: isard.escoladeltreball.org
      HOSTNAME: isardvdi-edt
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: isardvdi-edt
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: '451903641'
      TELEGRAM_BOT_TOKEN: 1116693240:AAFo_H5L0nSFruZVSMW4Zl5EmQXtDCyG2MU
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: flamenkit0
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: isard.escoladeltreball.org
      WEBAPP_LETSENCRYPT_EMAIL: info@isardvdi.com
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: aq0Z7MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: isard/hypervisor:2.0.0-rc1
    networks:
      isard-network: {}
    ports:
    - published: 2022
      target: 22
    privileged: true
    restart: unless-stopped
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - /opt/isard/certs/viewers:/etc/pki/libvirt-spice:rw
    - /opt/isard:/isard:rw
    - /opt/isard/sshkeys:/root/.ssh:rw
    - /opt/isard-local/sockets:/var/run/libvirt:rw
  isard-portal:
    build:
      context: .
      dockerfile: docker/portal/Dockerfile
      target: production
    container_name: isard-portal
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: isard.escoladeltreball.org
      HOSTNAME: isardvdi-edt
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: isardvdi-edt
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: '451903641'
      TELEGRAM_BOT_TOKEN: 1116693240:AAFo_H5L0nSFruZVSMW4Zl5EmQXtDCyG2MU
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: flamenkit0
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: isard.escoladeltreball.org
      WEBAPP_LETSENCRYPT_EMAIL: info@isardvdi.com
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: aq0Z7MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: isard/portal:2.0.0-rc1
    networks:
      isard-network: {}
    ports:
    - published: 80
      target: 80
    - published: 443
      target: 443
    restart: unless-stopped
    volumes:
    - /opt/isard/certs/default:/certs:rw
  isard-redis:
    container_name: isard-redis
    image: redis:6-alpine
    networks:
      isard-network: {}
    restart: unless-stopped
    volumes:
    - /opt/isard/redis:/data:rw
  isard-squid:
    build:
      context: .
      dockerfile: docker/squid/Dockerfile
      target: production
    container_name: isard-squid
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: isard.escoladeltreball.org
      HOSTNAME: isardvdi-edt
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: isardvdi-edt
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: '451903641'
      TELEGRAM_BOT_TOKEN: 1116693240:AAFo_H5L0nSFruZVSMW4Zl5EmQXtDCyG2MU
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: flamenkit0
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: isard.escoladeltreball.org
      WEBAPP_LETSENCRYPT_EMAIL: info@isardvdi.com
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: aq0Z7MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: isard/squid:2.0.0-rc1
    networks:
      isard-network: {}
    restart: unless-stopped
    sysctls:
      net.ipv6.conf.all.disable_ipv6: '1'
  isard-static:
    build:
      context: .
      dockerfile: docker/static/Dockerfile
      target: production
    container_name: isard-static
    image: isard/static:2.0.0-rc1
    networks:
      isard-network: {}
    restart: unless-stopped
  isard-stats:
    build:
      context: .
      dockerfile: docker/stats/Dockerfile
      target: production
    container_name: isard-stats
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: isard.escoladeltreball.org
      HOSTNAME: isardvdi-edt
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: isardvdi-edt
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: '451903641'
      TELEGRAM_BOT_TOKEN: 1116693240:AAFo_H5L0nSFruZVSMW4Zl5EmQXtDCyG2MU
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: flamenkit0
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: isard.escoladeltreball.org
      WEBAPP_LETSENCRYPT_EMAIL: info@isardvdi.com
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: aq0Z7MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: isard/stats:2.0.0-rc1
    networks:
      isard-network: {}
    restart: unless-stopped
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - /opt/isard/database:/mnt/database:ro
    - /opt/isard/groups:/mnt/groups:ro
    - /opt/isard-local/logs:/mnt/logs:ro
    - /opt/isard/media:/mnt/media:ro
    - /:/mnt/root:ro
    - /opt/isard/templates:/mnt/templates:ro
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - /opt/isard-local/sockets:/var/run/libvirt:rw
  isard-webapp:
    build:
      context: .
      dockerfile: webapp/docker/Dockerfile
      target: production
    container_name: isard-webapp
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: isard.escoladeltreball.org
      HOSTNAME: isardvdi-edt
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: isardvdi-edt
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: '451903641'
      TELEGRAM_BOT_TOKEN: 1116693240:AAFo_H5L0nSFruZVSMW4Zl5EmQXtDCyG2MU
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: flamenkit0
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: isard.escoladeltreball.org
      WEBAPP_LETSENCRYPT_EMAIL: info@isardvdi.com
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: aq0Z7MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: isard/webapp:2.0.0-rc1
    labels:
      traefik.enable: "true"
      traefik.http.middlewares.webapp-auth.basicauth.usersfile: /users
      traefik.http.middlewares.webapp-path.stripprefix.prefixes: /debug/webapp
      traefik.http.routers.webapp.middlewares: webapp-auth@docker,webapp-path@docker
      traefik.http.routers.webapp.rule: PathPrefix(`/debug/webapp`)
    networks:
      isard-network: {}
    restart: unless-stopped
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - /opt/isard/backups:/isard/backups:rw
    - /opt/isard-local/logs/webapp:/isard/logs:rw
  isard-websockify:
    build:
      context: ./websockify
    container_name: isard-websockify
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: isard.escoladeltreball.org
      HOSTNAME: isardvdi-edt
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: isardvdi-edt
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: '451903641'
      TELEGRAM_BOT_TOKEN: 1116693240:AAFo_H5L0nSFruZVSMW4Zl5EmQXtDCyG2MU
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: flamenkit0
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: isard.escoladeltreball.org
      WEBAPP_LETSENCRYPT_EMAIL: info@isardvdi.com
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: aq0Z7MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: isard/websockify:2.0.0-rc1
    networks:
      isard-network: {}
    restart: unless-stopped
version: '3.5'

