networks:
  isard-network:
    external: false
    name: isard-network
services:
  isard-api:
    build:
      context: .
      dockerfile: api/docker/Dockerfile
      target: production
    container_name: isard-api
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      DOCKER_IMAGE_PREFIX: registry.gitlab.com/isard/isardvdi/
      DOCKER_IMAGE_TAG: v2.0.0-rc1
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: localhost
      HOSTNAME: localhost
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: localhost
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: ''
      TELEGRAM_BOT_TOKEN: ''
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: IsardVDI
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: ''
      WEBAPP_LETSENCRYPT_EMAIL: ''
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: xq0Z3MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: registry.gitlab.com/isard/isardvdi/api:v2.0.0-rc1
    networks:
      isard-network: {}
    ports:
    - published: 7039
      target: 7039
    restart: unless-stopped
    volumes:
    - /etc/localtime:/etc/localtime:ro
  isard-backend:
    build:
      context: ./backend
      dockerfile: build/package/Dockerfile
    container_name: isard-backend
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      DOCKER_IMAGE_PREFIX: registry.gitlab.com/isard/isardvdi/
      DOCKER_IMAGE_TAG: v2.0.0-rc1
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: localhost
      HOSTNAME: localhost
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: localhost
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: ''
      TELEGRAM_BOT_TOKEN: ''
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: IsardVDI
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: ''
      WEBAPP_LETSENCRYPT_EMAIL: ''
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: xq0Z3MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: registry.gitlab.com/isard/isardvdi/backend:v2.0.0-rc1
    networks:
      isard-network: {}
    ports:
    - published: 1312
      target: 1312
    restart: unless-stopped
    volumes:
    - /opt/isard/backend/keys:/keys:rw
    - /opt/isard/backend/metadata:/metadata:rw
  isard-db:
    container_name: isard-db
    image: rethinkdb
    networks:
      isard-network: {}
    ports:
    - published: 8080
      target: 8080
    - published: 28015
      target: 28015
    restart: unless-stopped
    volumes:
    - /opt/isard/database:/data:rw
    - /etc/localtime:/etc/localtime:ro
  isard-engine:
    build:
      context: .
      dockerfile: engine/docker/Dockerfile
      target: production
    container_name: isard-engine
    depends_on:
    - isard-db
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      DOCKER_IMAGE_PREFIX: registry.gitlab.com/isard/isardvdi/
      DOCKER_IMAGE_TAG: v2.0.0-rc1
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: localhost
      HOSTNAME: localhost
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: localhost
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: ''
      TELEGRAM_BOT_TOKEN: ''
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: IsardVDI
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: ''
      WEBAPP_LETSENCRYPT_EMAIL: ''
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: xq0Z3MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: registry.gitlab.com/isard/isardvdi/engine:v2.0.0-rc1
    networks:
      isard-network: {}
    restart: unless-stopped
    volumes:
    - /opt/isard/certs/viewers:/certs:rw
    - /etc/localtime:/etc/localtime:ro
    - /opt/isard-local/logs/engine:/isard/logs:rw
    - /opt/isard/sshkeys:/root/.ssh:rw
  isard-grafana:
    build:
      context: .
      dockerfile: docker/grafana/Dockerfile
      target: production
    container_name: isard-grafana
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      DOCKER_IMAGE_PREFIX: registry.gitlab.com/isard/isardvdi/
      DOCKER_IMAGE_TAG: v2.0.0-rc1
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: localhost
      HOSTNAME: localhost
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: localhost
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: ''
      TELEGRAM_BOT_TOKEN: ''
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: IsardVDI
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: ''
      WEBAPP_LETSENCRYPT_EMAIL: ''
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: xq0Z3MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: registry.gitlab.com/isard/isardvdi/grafana:v2.0.0-rc1
    networks:
      isard-network: {}
    ports:
    - published: 2004
      target: 2004
    - published: 3000
      target: 3000
    restart: unless-stopped
    volumes:
    - /opt/isard/grafana/grafana/data:/grafana/data:rw
    - /opt/isard/grafana/graphite/conf:/opt/graphite/conf:rw
    - /opt/isard/grafana/graphite/storage:/opt/graphite/storage:rw
  isard-hypervisor:
    build:
      context: .
      dockerfile: docker/hypervisor/Dockerfile
      target: production
    container_name: isard-hypervisor
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      DOCKER_IMAGE_PREFIX: registry.gitlab.com/isard/isardvdi/
      DOCKER_IMAGE_TAG: v2.0.0-rc1
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: localhost
      HOSTNAME: localhost
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: localhost
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: ''
      TELEGRAM_BOT_TOKEN: ''
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: IsardVDI
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: ''
      WEBAPP_LETSENCRYPT_EMAIL: ''
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: xq0Z3MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: registry.gitlab.com/isard/isardvdi/hypervisor:v2.0.0-rc1
    networks:
      isard-network: {}
    ports:
    - published: 2022
      target: 22
    privileged: true
    restart: unless-stopped
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - /opt/isard/certs/viewers:/etc/pki/libvirt-spice:rw
    - /opt/isard:/isard:rw
    - /opt/isard/sshkeys:/root/.ssh:rw
    - /opt/isard-local/sockets:/var/run/libvirt:rw
  isard-portal:
    build:
      context: .
      dockerfile: docker/portal/Dockerfile
      target: production
    container_name: isard-portal
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      DOCKER_IMAGE_PREFIX: registry.gitlab.com/isard/isardvdi/
      DOCKER_IMAGE_TAG: v2.0.0-rc1
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: localhost
      HOSTNAME: localhost
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: localhost
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: ''
      TELEGRAM_BOT_TOKEN: ''
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: IsardVDI
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: ''
      WEBAPP_LETSENCRYPT_EMAIL: ''
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: xq0Z3MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: registry.gitlab.com/isard/isardvdi/portal:v2.0.0-rc1
    networks:
      isard-network: {}
    ports:
    - published: 80
      target: 80
    - published: 443
      target: 443
    restart: unless-stopped
    volumes:
    - /opt/isard/certs/default:/certs:rw
  isard-redis:
    container_name: isard-redis
    image: redis:6-alpine
    networks:
      isard-network: {}
    restart: unless-stopped
    volumes:
    - /opt/isard/redis:/data:rw
  isard-squid:
    build:
      context: .
      dockerfile: docker/squid/Dockerfile
      target: production
    container_name: isard-squid
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      DOCKER_IMAGE_PREFIX: registry.gitlab.com/isard/isardvdi/
      DOCKER_IMAGE_TAG: v2.0.0-rc1
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: localhost
      HOSTNAME: localhost
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: localhost
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: ''
      TELEGRAM_BOT_TOKEN: ''
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: IsardVDI
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: ''
      WEBAPP_LETSENCRYPT_EMAIL: ''
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: xq0Z3MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: registry.gitlab.com/isard/isardvdi/squid:v2.0.0-rc1
    networks:
      isard-network: {}
    restart: unless-stopped
    sysctls:
      net.ipv6.conf.all.disable_ipv6: '1'
  isard-static:
    build:
      context: .
      dockerfile: docker/static/Dockerfile
      target: production
    container_name: isard-static
    image: registry.gitlab.com/isard/isardvdi/static:v2.0.0-rc1
    networks:
      isard-network: {}
    restart: unless-stopped
  isard-stats:
    build:
      context: .
      dockerfile: docker/stats/Dockerfile
      target: production
    container_name: isard-stats
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      DOCKER_IMAGE_PREFIX: registry.gitlab.com/isard/isardvdi/
      DOCKER_IMAGE_TAG: v2.0.0-rc1
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: localhost
      HOSTNAME: localhost
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: localhost
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: ''
      TELEGRAM_BOT_TOKEN: ''
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: IsardVDI
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: ''
      WEBAPP_LETSENCRYPT_EMAIL: ''
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: xq0Z3MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: registry.gitlab.com/isard/isardvdi/stats:v2.0.0-rc1
    networks:
      isard-network: {}
    restart: unless-stopped
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - /opt/isard/database:/mnt/database:ro
    - /opt/isard/groups:/mnt/groups:ro
    - /opt/isard-local/logs:/mnt/logs:ro
    - /opt/isard/media:/mnt/media:ro
    - /:/mnt/root:ro
    - /opt/isard/templates:/mnt/templates:ro
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - /opt/isard-local/sockets:/var/run/libvirt:rw
  isard-webapp:
    build:
      context: .
      dockerfile: webapp/docker/Dockerfile
      target: production
    container_name: isard-webapp
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      DOCKER_IMAGE_PREFIX: registry.gitlab.com/isard/isardvdi/
      DOCKER_IMAGE_TAG: v2.0.0-rc1
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: localhost
      HOSTNAME: localhost
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: localhost
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: ''
      TELEGRAM_BOT_TOKEN: ''
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: IsardVDI
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: ''
      WEBAPP_LETSENCRYPT_EMAIL: ''
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: xq0Z3MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: registry.gitlab.com/isard/isardvdi/webapp:v2.0.0-rc1
    labels:
      traefik.enable: "true"
      traefik.http.middlewares.webapp-auth.basicauth.usersfile: /users
      traefik.http.middlewares.webapp-path.stripprefix.prefixes: /debug/webapp
      traefik.http.routers.webapp.middlewares: webapp-auth@docker,webapp-path@docker
      traefik.http.routers.webapp.rule: PathPrefix(`/debug/webapp`)
    networks:
      isard-network: {}
    restart: unless-stopped
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - /opt/isard/backups:/isard/backups:rw
    - /opt/isard-local/logs/webapp:/isard/logs:rw
  isard-websockify:
    build:
      context: ./websockify
    container_name: isard-websockify
    environment:
      BACKEND_AUTH_AUTOREGISTRATION: "true"
      BACKEND_HOST: localhost
      BACKEND_ISARD_API_HOST: isard-api
      BACKEND_MANTEINANCE_ADMINS: admin
      BACKEND_REDIS_HOST: isard-redis
      BACKEND_REDIS_PASSWORD: ''
      DOCKER_IMAGE_PREFIX: registry.gitlab.com/isard/isardvdi/
      DOCKER_IMAGE_TAG: v2.0.0-rc1
      GRAFANA_HOST: isard-grafana
      GRAFANA_PATH: /monitor/
      GRAFANA_PORT: '443'
      GRAFANA_URL: localhost
      HOSTNAME: localhost
      LOG_LEVEL: INFO
      RETHINKDB_DB: isard
      RETHINKDB_HOST: isard-db
      RETHINKDB_PORT: '28015'
      STATS_HOSTNAME: localhost
      STATS_RETHINKDB_DB: isard
      STATS_RETHINKDB_HOST: isard-db
      STATS_RETHINKDB_PORT: '28015'
      STATS_SERVER: isard-grafana
      TELEGRAM_BOT_CHAT_ID: ''
      TELEGRAM_BOT_TOKEN: ''
      VIDEO_HAPROXY_HOST: isard-video
      VIDEO_HYPERVISOR_HOSTNAMES: isard-hypervisor
      VIDEO_HYPERVISOR_PORTS: 5900-6899
      VIDEO_LETSENCRYPT_DNS: ''
      VIDEO_LETSENCRYPT_EMAIL: ''
      VIDEO_PORT: '443'
      VIDEO_STATS_PORT: '8889'
      WEBAPP_ADMIN_PWD: IsardVDI
      WEBAPP_HOST: isard-webapp
      WEBAPP_LETSENCRYPT_DNS: ''
      WEBAPP_LETSENCRYPT_EMAIL: ''
      WEBAPP_RETHINKDB_DB: isard
      WEBAPP_RETHINKDB_HOST: isard-db
      WEBAPP_RETHINKDB_PORT: '28015'
      WEBAPP_SESSION_SECRET: xq0Z3MP5ujxrQxtMGxgPiijH9xpuxkyP04R6At/V+g4=
    image: registry.gitlab.com/isard/isardvdi/websockify:v2.0.0-rc1
    networks:
      isard-network: {}
    restart: unless-stopped
version: '3.5'

