### START 16_11_fe_http_secured_end.cfg ###
  # Grafana backend
  use_backend be_isard-grafana if { path_beg /monitor } or { path_beg /monitor/ }

  # Loki backend
  use_backend be_isard-loki if { path_beg /loki }

  # VictoriaMetrics backend
  use_backend be_isard-victoriametrics if { path_beg /victoriametrics }
### END 16_11_fe_http_secured_end.cfg ###
