python-socketio~=5.13.0
redis==5.2.1
rq==2.3.2
cachetools~=5.5.2
rethinkdb==2.4.10.post1
pytz==2025.2
gevent==25.5.1
PyJWT==2.8.0
requests==2.32.4
dnspython==2.7.0
pydantic~=2.12
grpcio==1.66.2
protobuf==5.29.4
bcrypt==3.2.0
portion==2.6.1
pillow==11.3.0
specktre==0.3.0
python-json-logger==3.3.0
