    [Unit]
    Description=Start html5 spice proxying
    After=libvirtd.service
    
    [Service]
    ExecStart=/usr/bin/bash -c 'cd /; python3 start_proxy.py'
    Type=oneshot

    [Install]
    WantedBy=multi-user.target


