<!-- extend base layout -->
{% extends "admin/pages/base_graphs.html" %}
{% block css %}
    <style>

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: bold 12px sans-serif;
}

.node.menu {
        color: cyan;
    }
    
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

    </style>
{% endblock %}
{% block content %}
        <!-- page content -->
    <div class="right_col" role="main">
        <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="text-center text-center">
					<section id="chart">             
					</section>
				</div>
			</div>
        </div>
    </div>
{% endblock %}

{% block pagescript %}
<!--
	<script src="/bower_components/d3/d3.min.js"></script>
-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- Isard restful ajax calls -->
    <script src="/static/js/restful.js"></script>
	<script src="/static/admin/js/graphs/tree.js"></script>
    <!-- Isard restful ajax calls -->
    <script src="/static/js/restful.js"></script>
{% endblock %}
