<!-- extend base layout -->
{% extends "admin/pages/base_graphs.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/d3-bubble.css"/>
{% endblock %}
{% block content %}
        <!-- page content -->
    <div class="right_col" role="main">
        <div class="row">
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="text-center text-center">
					<section id="chart">             
					</section>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
                                <table id="table-list" class="table">
                                    <thead>
                                        <tr>
                                            <th>hyper</th>
                                            <th>name</th>
                                            <th>os</th>
                                            <th>load</th>
                                            <th>net</th>
                                            <th>disk rw</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>				
			</div>
        </div>
    </div>
{% endblock %}

{% block pagescript %}
<!--
    <script src="http://d3js.org/d3.v3.min.js"></script>ç
-->
<script>
$(document).ready(function() {
    $('.top_nav').hide()
    $('#menu_toggle').click()
});
</script>
    <script src="/bower_components/d3-bower/d3.min.js"></script>
	<script src="/static/admin/js/graphs/bubblesv3.js"></script>
{% endblock %}
