### START 16_04_fe_http_secured_abuse.cfg ###
  ## Register Abuse
  acl is_login_register path_beg /api/v3/user/register

  ## System Abuse
  http-request track-sc0 src table AbuseSystem
  # acl err_abuse src,table_http_err_rate(AbuseSystem) ge 25
  # acl rate_abuse src,table_http_req_rate(AbuseSystem) ge 100
  # use_backend err_limiter if err_abuse
  # use_backend rate_limiter if rate_abuse !err_abuse
  http-request set-var(txn.block) str("ABUSE REGISTER") if { src,table_http_err_rate(AbuseSystem) ge 500 } is_login_register
  http-request tarpit deny_status 429 if { src,table_http_err_rate(AbuseSystem) ge 500 } is_login_register
### END 16_04_fe_http_secured_abuse.cfg ###
