### START 16_12_fe_http_secured_services.cfg ###
  #
  # ACLs
  #
  acl is_guacamole_ws path_beg /websocket-tunnel
  acl is_guacamole_http path_beg /tunnel
  acl is_frontend_path path_beg /login or path_beg /migration or path_beg /register or path_beg /maintenance or path_beg /notifications or path_beg /verify-email or path_beg /vw or path_beg /frontend or path_beg /forgot-password or path_beg /error or path_beg /reset-password or path_beg /export-user
  acl is_frontend_dev_asset path_beg /src/ or path_beg /@vite/ or path_beg /@id/ or path_beg /@fs/ or path_beg /node_modules/ or path_beg /.vite/
  acl is_old_frontend_dev_ws path_beg /sockjs-node
  acl is_faro_enabled var(proc.faro_enabled) -m str true

  #
  # Viewers
  #
  use_backend be_isard-guacamole if is_websocket is_guacamole_ws
  use_backend be_isard-guacamole if is_guacamole_http

  #
  # Services
  #
  # AUTHENTICATION ENDPOINTS
  use_backend be_isard-authentication if { path_beg /authentication }

  # API ENDPOINTS
  use_backend be_isard-apiv4 if { path_beg /api/v4 }

  # SocketIO: standalone socketio service
  use_backend be_isard-socketio if { path_beg /socket.io }

  # WEBAPP ENDPOINTS
  use_backend be_isard-webapp if { path_beg /isard-admin } or { path_beg /isard-admin/ }

  # SCHEDULER ENDPOINTS
  use_backend be_isard-scheduler if { path_beg /scheduler }

  # ENGINE ENDPOINTS
  use_backend be_isard-engine if { path_beg /engine }

  # RETHINKDB ADMIN GUI
  use_backend be_isard-db if { path_beg /debug/db } is_development

  # NEXTCLOUD ENDPOINTS
  use_backend be_isard-nc if { path_beg /isard-nc }

  # Openapi endpoint
  use_backend be_isard-openapi if { path_beg /openapi } or { path_beg /openapi/ }

  # FARO RECEIVER ENDPOINT
  use_backend be_isard-grafana-alloy-faro if { path_beg /faro } is_faro_enabled

  # develop backends
  # This must be the last use_backend directive
  use_backend be_isard-static if is_development { path_beg /assets/ }
  use_backend be_isard-frontend-dev if is_development is_frontend_path
  use_backend be_isard-frontend-dev if is_development is_frontend_dev_asset
  use_backend be_isard-old-frontend-dev if is_development is_old_frontend_dev_ws
  use_backend be_isard-old-frontend-dev if is_development !{ path_beg /viewer/ } !is_websocket
### END 16_12_fe_http_secured_services.cfg ###
