  ### START 16_12_fe_secured_end.cfg ###
  acl is_upgrade hdr(Connection) -i upgrade
  acl is_websocket hdr(Upgrade) -i websocket
  acl is_guacamole_ws path_beg /websocket-tunnel
  acl is_guacamole_http path_beg /tunnel
  acl is_api path_beg /api

  http-request set-log-level silent if is_websocket

  # GUACAMOLE ENDPOINTS
  use_backend be_isard-guacamole if is_websocket is_guacamole_ws
  use_backend be_isard-guacamole if is_guacamole_http

  # AUTHENTICATION ENDPOINTS
  use_backend be_isard-authentication if { path_beg /authentication }

  # API ENDPOINTS
  use_backend be_isard-apiv3 if { path_beg /api/v3 }
  use_backend be_isard-apiv3 if is_websocket { path_beg /api/v3/socket.io }

  # WEBAPP ENDPOINTS
  use_backend be_isard-webapp if { path_beg /isard-admin } or { path_beg /isard-admin/ }

  # SCHEDULER ENDPOINTS
  use_backend be_isard-scheduler if { path_beg /scheduler }

  # ENGINE ENDPOINTS
  use_backend be_isard-engine if { path_beg /engine }

  # DEFAULT WEBSOCKETS: HTML5 ENDPOINT
  use_backend be_isard-websockify if is_websocket !{ path_beg /sockjs-node/ }

  # debug backends
  use_backend be_isard-db if { path_beg /debug/db } 
  # use_backend be_isard-video if { path_beg /debug/video }

  # letsencrypt
  use_backend be_letsencrypt if is_letsencrypt

  # graph backends
  use_backend be_isard-grafana if { path_beg /monitor } or { path_beg /monitor/ }
  # PROMETHEUS BACKEND
  use_backend be_isard-prometheus if  { path_beg /prometheus } or { path_beg /prometheus/ }

  # NEXTCLOUD ENDPOINTS
  use_backend be_isard-nc if { path_beg /isard-nc }

  # develop backends
  # This must be the last use_backend directive
  use_backend be_isard-static if { env(DEVELOPMENT) -m str true } { path_beg /assets/ }
  use_backend be_isard-frontend-dev if { env(DEVELOPMENT) -m str true } !{ path_beg /viewer/ } !{ path_beg /custom/ }

  default_backend         be_isard-static
  ### END 16_12_fe_secured_end.cfg ###
