    <div class="x_panel">
      <div class="x_title">
        <h2>Allows <small>Only these are allowed</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="table-alloweds-d.id" class="table table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>Items</th>
            </tr>
          </thead>
              <tbody>
              </tbody>
        </table>
      </div>
    </div>
    
    <script src="/static/js/snippets/alloweds.js"></script>  
