<div class="grid-stack">
{% for r in hosts %}
        {% for c in hosts[r] %}
            <div class="grid-stack-item"
                data-gs-x="{{c*2}}" data-gs-y="{{r}}"
                data-gs-width="2" data-gs-height="1">
                    <div class="grid-stack-item-content"> {% include '/snippets/host.tmpl' %}</div>
            </div>
            {% if hosts[r][c].status != 0 %}
            {% endif%}
        {% endfor %}
{% endfor %}
</div>

