<style>
     .table-select .selected {
        background-color: #ccccb3 !important;
    }
    
     .table-select tr.even:hover {
        background-color: #e0e0d1;
    } 

     .table-select tr.odd:hover {
        background-color: #ebebe0;
    }  
  
</style>

    <div class="x_panel">
      <div class="x_title">
        <h2>Hotplug <small>Domain hotplugged media</small></h2>
<!--
            <ul class="nav navbar-right panel_toolbox">
				<li><a id="bulk-edit-d.id"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Bulk edit</span></a>
               </li>
            </ul>       
-->
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="table-hotplug-d.id" class="table table-striped table-select">
          <thead>
            <tr>
              <th>Name</th>
              <th>Kind</th>
              <th>User</th>
              <th>Category</th>
              <th>Group</th>
            </tr>
          </thead>
              <tbody>
              </tbody>
        </table>
      </div>
    </div>


    <script src="/static/js/snippets/domain_hotplugged.js"></script>  
