    <div class="x_panel">
      <div class="x_title">
        <h2>Genealogy <small>Domain genealogy tree</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="table-genealogy-d.id" class="table table-striped">
          <thead>
            <tr>
              <th>When</th>
              <th>id</th>
            </tr>
          </thead>
              <tbody>
              </tbody>
        </table>
      </div>
    </div>
    
    <script src="/static/js/snippets/domain_genealogy.js"></script>  
