    <div class="x_panel">
      <div class="x_title">
        <h2>Derivates <small>Domain derivates</small></h2>
            <ul class="nav navbar-right panel_toolbox">
				<li><a class="btn-bulk-edit-domains"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Bulk edit</span></a>
               </li>
            </ul>       
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="table-derivates-d.id" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Kind</th>
              <th>User</th>
            </tr>
          </thead>
              <tbody>
              </tbody>
        </table>
      </div>
    </div>


    <script src="/static/js/snippets/domain_derivates.js"></script>  
