    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <label for="vcpus">Nº virtual cpus</label>
            <input id="hardware-vcpus" name="hardware-vcpus" />
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
                <label>Memory (MB)</label>
                <input id="hardware-memory" name="hardware-memory"/>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <label for="disk_size">Disk size (GB)</label>
            <input id="disk_size" name="disk_size" />
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
               <label>Boot:</label>
               <select class="form-control" id="hardware-boot_order" name="hardware-boot_order">
               </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="item form-group">
               <label>Hyper pool:</label>
               <select class="form-control" id="hypervisors_pools" name="hypervisors_pools">
               </select>
            </div>
        </div>  
        <div class="col-md-3 col-sm-3 col-xs-12">
               <label>Graphics:</label>
               <select class="form-control" id="hardware-graphics" name="hardware-graphics">
               </select>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="item form-group">
               <label>Video:</label>
               <select class="form-control" id="hardware-videos" name="hardware-videos">
               </select>
            </div>
        </div>  
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="item form-group">
               <label>Network:</label>
               <select class="form-control" id="hardware-interfaces" name="hardware-interfaces">
               </select>
            </div>
        </div>  
    </div>
    
    <script src="/static/js/snippets/domain_hardware.js"></script> 
