    <div class="row">
        <div class="col-md-3 col-xs-12">
            <label for="quota-domains-desktops">Desktops</label>
            <input id="quota-domains-desktops" name="quota-domains-desktops" />
        </div>
        <div class="col-md-3 col-xs-12">
                <label>Running</label>
                <input id="quota-domains-running" name="quota-domains-running"/>
        </div>
        <div class="col-md-3 col-xs-12">
                <label>Templates</label>
                <input id="quota-domains-templates" name="quota-domains-templates"/>
        </div>
        <div class="col-md-3 col-xs-12">
                <label>Isos</label>
                <input id="quota-domains-isos" name="quota-domains-isos"/>
        </div>                 
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-3 col-xs-12">
            <label for="vcpus">Nº virtual cpus</label>
            <input id="quota-hardware-vcpus" name="quota-hardware-vcpus" />
        </div>
        <div class="col-md-6 col-sm-3 col-xs-12">
                <label>Memory(MB)</label>
                <input id="quota-hardware-memory" name="quota-hardware-memory"/>
        </div>  
    </div>
    
    <script src="/static/js/snippets/quota.js"></script> 
