### START 20_backends.cfg ###
backend be_isard-squid from http_defaults
  # SPICE native client tunnel via HTTP CONNECT
  option redispatch
  option abortonclose
  option http-no-delay
  timeout tunnel 7200s
  timeout server 7200s
  timeout connect 3s
  compression offload
  server squid isard-squid:8080 check port 8080 inter 5s rise 2 fall 3 resolvers mydns init-addr none

backend be_isard-websockify from http_defaults
  # noVNC/SPICE web viewer via WebSocket
  option http-no-delay
  timeout tunnel 7200s
  timeout server 7200s
  timeout connect 3s
  compression offload
  server websockify isard-websockify:8080 check port 8080 inter 5s rise 2 fall 3 resolvers mydns init-addr none
### END 20_backends.cfg ###
