<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="right_col" role="main">

<!--
<div class="page-title">
   <div class="title_left">
      <h3>ISARD <small>VDI</small></h3>
   </div>
   <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
         
         </div>
      </div>
   </div>
</div>
-->
<div class="clearfix"></div>
<!--
<div class="jumbotron" style="background-image: url(/static/img/isard.png); background-size: 100%; opacity: 0.5; filter: alpha(opacity=50);">
-->
<div class="jumbotron">
   <div class="container for-about">
   <h1><img src="/static/img/isard.png" width"100px" height="130px">IsardVDI</h1>
   <p>Virtual Desktops Infrastructure</p>
   <div class="col-lg-6">
       <p>More info:</p>
       <li><a href="http://www.isardvdi.com">Web Site</a></li>
       <li><a href="https://isardvdi.readthedocs.io/en/latest/">Documentation</a></li>
       <li><a href="https://github.com/isard-vdi/isard">Source Code</a></li>
       <li><a href="https://github.com/isard-vdi/isard/issues">Open an issue</a></li>
    </div>
    <div class="col-lg-6 text-right">
        <h3>Contact IsardVDI</h3>
        <b>isard.vdi@gmail.com</b><br>
        <br>
        <h3>License:</h3>
        <p><img src="/static/img/agplv3-155x51.png"></p>
    </div>
   </div>
</div>
</div>

<!--
<div id="form_notice" style="display: none;">
    <form class="pf-form pform_custom" onsubmit="return false;" method="post">
        <div class="pf-element pf-heading">
            <h3 style="margin-top: 0;">Admin login</h3>
            <p>Enter the simulated user</p>
        </div>
        <div class="pf-element">
            <label>
                <span class="pf-label">Username</span>
                <input class="pf-field form-control" type="text" name="username" />
            </label>
        </div>
        <div class="pf-element">
            <label>
                <span class="pf-label">Password</span>
                    <input class="pf-field form-control" type="password" name="password" />
                </label>
        </div>
        <div class="pf-element pf-buttons pf-centered">
            <input class="pf-button btn btn-primary" type="submit" name="submit" value="Submit" />
            <input class="pf-button btn btn-default" type="button" name="cancel" value="Cancel" />
        </div>
    </form>
</div>
-->

    
{% endblock %}

{% block pagescript %}
<script src="/static/js/restful.js"></script>
<!--
<script>
function KeyPress(e) {
      var evtobj = window.event? event : e;
      if (evtobj.keyCode == 123 && evtobj.ctrlKey){
          var notice = new PNotify({
            text: $('#form_notice').html(),
            icon: false,
            width: 'auto',
            hide: false,
            buttons: {
                closer: false,
                sticker: false
            },
            insert_brs: false
          });
                
          notice.get().find('form.pf-form').on('click', '[name=cancel]', function() {
            notice.remove();
          }).submit(function() {
                var username = $(this).find('input[name=username]').val();
                var password = $(this).find('input[name=password]').val();
                if (!username) {
                    alert('Please provide a username.');
                    return false;
                }
                    
                api.ajax('/about','POST',{'username':username,'password':password}).done(function(data) {
                    notice.update({
                        title: 'Welcome',
                        text: 'Successfully logged in as ' + username,
                        icon: true,
                        width: PNotify.prototype.options.width,
                        hide: true,
                        buttons: {
                            closer: true,
                            sticker: true
                        },
                        type: 'success'
                    });
                    window.location.replace('/about');
                });
                return false;
            });
      }
}
document.onkeydown = KeyPress;
</script>
-->
<script src="/static/js/quota_socket.js"></script> 
{% endblock %}
