<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="page-title">
       <div class="title_left">
          <h3><i class="fa fa-cubes"></i> Templates <small></small></h3>
       </div>
       <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          </div>
       </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
           <div class="x_panel">
              <div class="x_title">
                 <h2>List of templates <small></small></h2>
                 <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                 </ul>
                 <div class="clearfix"></div>
              </div>
              <div class="x_content">
                 <p class="text-muted font-13 m-b-30">
                 </p>
                 <table id="templates" class="table table-striped">
                    <thead>
                       <tr>
                          <th></th>
                          <th>icon</th>
                          <th>name</th>
                          <th></th>
                          <th>kind</th>
                          <th>status</th>
                          <th>Shares</th>
<!--
                          <th></th>
-->
                       </tr>
                    </thead>
                    <tbody>
                
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
    </div>
</div>

{% include '/pages/templates_detail.html' %}
{% include '/snippets/alloweds_form.html' %}
{% endblock %}

{% block pagescript %}
    <script src="/static/js/restful.js"></script>
    <script src="/static/js/templates.js"></script>
{% endblock %}


