stream_over_http_enabled: true
server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
        http:

metrics_generator:
  registry:
    external_labels:
      source: tempo
      domain: "${DOMAIN}"
  storage:
    path: /tmp/tempo/generator/wal
    remote_write:
      - url: "${PROMETHEUS_ADDRESS}/api/v1/write"
        send_exemplars: true

storage:
  trace:
    backend: local
    wal:
      path: /tmp/tempo/wal
    local:
      path: /tmp/tempo/blocks

overrides:
  metrics_generator_processors: [service-graphs, span-metrics, local-blocks]
