<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label class="control-label" for="name">
            Allowed email domain for foregin accounts like Google
        </label>
        <input
            style="width:100%"
            id="allowed_domain"
            name="allowed_domain"
            type="text"
            class="roundbox"
            pattern="^[a-z0-9-.]+$"
            data-parsley-trigger="change"
            placeholder="Empty means all domains are allowed"
            size="31"
        />
    </div>
</div>
