<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="allowed_domains_local_container" hidden>
            <label class="control-label" for="allowed_domains_local">
                Allowed email domains for local accounts, separated by comma.
            </label>
            <input
                style="width:100%"
                id="allowed_domains_local"
                name="allowed_domains_local"
                type="text"
                class="roundbox"
                pattern="^([a-z0-9\-\.]+\s*,\s*)*[a-z0-9\-\.]+$"
                data-parsley-trigger="change"
                placeholder="Empty means all domains are allowed"
                size="31"
            />
        </div>
        
        <div id="allowed_domains_google_container" hidden>
            <label class="control-label" for="allowed_domains_google">
                Allowed email domains for Google accounts, separated by comma.
            </label>
            <input
                style="width:100%"
                id="allowed_domains_google"
                name="allowed_domains_google"
                type="text"
                class="roundbox"
                pattern="^([a-z0-9\-\.]+\s*,\s*)*[a-z0-9\-\.]+$"
                data-parsley-trigger="change"
                placeholder="Empty means all domains are allowed"
                size="31"
            />
        </div>
        
        <div id="allowed_domains_saml_container" hidden>
            <label class="control-label" for="allowed_domains_saml">
                Allowed email domains for SAML accounts, separated by comma.
            </label>
            <input
                style="width:100%"
                id="allowed_domains_saml"
                name="allowed_domains_saml"
                type="text"
                class="roundbox"
                pattern="^([a-z0-9\-\.]+\s*,\s*)*[a-z0-9\-\.]+$"
                data-parsley-trigger="change"
                placeholder="Empty means all domains are allowed"
                size="31"
            />
        </div>
        
        <div id="allowed_domains_ldap_container" hidden>
            <label class="control-label" for="allowed_domains_ldap">
                Allowed email domains for LDAP accounts, separated by comma.
            </label>
            <input
                style="width:100%"
                id="allowed_domains_ldap"
                name="allowed_domains_ldap"
                type="text"
                class="roundbox"
                pattern="^([a-z0-9\-\.]+\s*,\s*)*[a-z0-9\-\.]+$"
                data-parsley-trigger="change"
                placeholder="Empty means all domains are allowed"
                size="31"
            />
        </div>
    </div>
</div>
