<div class="container">
{% for r in hosts %}
        <div class="row row{{ hosts[r] }}">
        {% for c in hosts[r] %}
            <div class="col-sm-2">
            {% if hosts[r][c].status != 0 %}
                {% include '/snippets/host.tmpl' %}
            {% endif%}
            </div>
        {% endfor %}
        </div>
{% endfor %}
</div>
