<style>
     .table-select .selected {
        background-color: #ccccb3 !important;
    }
    
     .table-select tr.even:hover {
        background-color: #e0e0d1;
    } 

     .table-select tr.odd:hover {
        background-color: #ebebe0;
    }  
</style>

<div class="x_panel">
  <div class="x_title">
    <h3>Media <small>Domain hotplugged media</small></h3>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table id="table-hotplug-d.id" class="table table-select">
      <thead>
        <tr>
          <th>Name</th>
          <th>Kind</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<script src="/isard-admin/static/js/snippets/domain_hotplugged.js"></script>  
