{#
#
#   Copyright © 2025 Simó Albert i Beltran
#
#   This file is part of IsardVDI.
#
#   IsardVDI is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or (at your
#   option) any later version.
#
#   IsardVDI is distributed in the hope that it will be useful, but WITHOUT ANY
#   WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
#   FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
#   details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with IsardVDI. If not, see <https://www.gnu.org/licenses/>.
#
# SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% with field_name = name_prefix ~ '[' ~ name ~ ']' if name_prefix else name %}
  <div class="item form-group">
    <label
      for="{{ id_prefix }}{{ name }}"
      class="control-label col-sm-3 col-xs-12"
    >
      {{ label }}
      <span class="required{% if required is false %} initially-hidden{% endif %}">*</span>
    </label>
    <div class="col-sm-9 col-xs-12">
      {% if type == 'file' %}
        <input
          type="hidden"
          name="{{ field_name }}"
          data-file-content
        />
        <input
          id="{{ id_prefix }}{{ name }}"
          class="form-control"
          type="file"
          data-file-content
          {{ 'accept="' ~ accept ~ '"' if accept else '' }}
        />
        {% if preview %}
          <div class="file-content-preview">
          </div>
        {% else %}
          <a class="btn btn-default btn-sm file-content-download" download="{{ name }}.pem">
            <i class="fa fa-download"></i> Download
          </a>
        {% endif %}
      {% else %}
        <{{ 'select' if type == 'select' else 'input' }}
          id="{{ id_prefix }}{{ name }}"
          name="{{ field_name }}"
          class="form-control"
          {% if type != 'select' %}
            type="{{ type if type else 'text' }}"
            data-parsley-trigger="change"
            placeholder="{{ placeholder }}"
            {% if value is defined and value is not none %}
              value="{{ value }}"
            {% endif %}
          {% endif %}
          {{ '' if required is false or type == 'checkbox' else 'required' }}
          {{ 'disabled' if disabled else '' }}
          {{ 'multiple' if multiple else '' }}
          {{ 'accept="' ~ accept ~ '"' if accept else '' }}
        {% if type == 'select' %}
        >
          {% for value, label in (options or {}).items() %}
            <option value="{{ value }}">{{ label }}</option>
          {% endfor %}
        </select>
        {% else %}
        />
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endwith %}
