{#
#
#   Copyright © 2025 Simó Albert i Beltran
#
#   This file is part of IsardVDI.
#
#   IsardVDI is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or (at your
#   option) any later version.
#
#   IsardVDI is distributed in the hope that it will be useful, but WITHOUT ANY
#   WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
#   FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
#   details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with IsardVDI. If not, see <https://www.gnu.org/licenses/>.
#
# SPDX-License-Identifier: AGPL-3.0-or-later
#}
<div class="item form-group">
  <label
    for="{{ id_prefix }}{{ name }}"
    class="control-label col-sm-3 col-xs-12"
  >
    {{ label }}
    {% if required is not false %}
      <span class="required">*</span>
    {% endif %}
  </label>
  <div class="col-sm-9 col-xs-12">
    <input
      id="{{ id_prefix }}{{ name }}"
      name="{{ name }}"
      type="{{ type if type else 'text' }}"
      placeholder="{{ placeholder }}"
      class="form-control"
      data-parsley-trigger="change"
      {{ '' if required is false or type == 'checkbox' else 'required' }}
      {{ 'disabled' if disabled else '' }}
    />
  </div>
</div>
