{#
#
#   Copyright © 2025 Simó Albert i Beltran
#
#   This file is part of IsardVDI.
#
#   IsardVDI is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or (at your
#   option) any later version.
#
#   IsardVDI is distributed in the hope that it will be useful, but WITHOUT ANY
#   WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
#   FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
#   details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with IsardVDI. If not, see <https://www.gnu.org/licenses/>.
#
# SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% with
  id_prefix = 'google-config-show-' if disabled is true else 'google-config-edit-'
%}
  <div class="x_panel">
    <div class="x_content">
      {% with
        name="google_config_client_id",
        label="Client ID"
      %}
        {% include '/snippets/form_field.html' %}
      {% endwith %}

      {% with
        name="google_config_client_secret",
        label="Client Secret",
        type="password"
      %}
        {% include '/snippets/form_field.html' %}
      {% endwith %}
    </div>
  </div>
{% endwith %}
