    <div class="x_content found">
        <div class="row">
            <div class="x_panel">
                <div class="col-xs-3 form-group">
                    <label>Desktops</label>
                    <input id="limits-desktops" name="limits-desktops" class="form-control roundbox" style="width:100%; overflow: hidden; text-overflow: ellipsis;" disabled value="1" min="0" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
                </div>
                <div class="col-xs-3 form-group">
                    <label>Concurrent</label>
                    <input id="limits-running" name="limits-running" class="form-control roundbox" style="width:100%; overflow: hidden; text-overflow: ellipsis;" disabled value="1" min="0" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
                </div>
                <div class="col-xs-3 form-group">
                    <label>vCPU</label>
                    <input id="limits-vcpus" name="limits-vcpus" class="form-control col-md-7 col-xs-12 roundbox" style="width:100%; overflow: hidden; text-overflow: ellipsis;" disabled value="1" min="0"maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
                </div>
                <div class="col-xs-3 form-group">
                    <label>Memory(GB)</label>
                    <input id="limits-memory" name="limits-memory" class="form-control col-md-7 col-xs-12 roundbox" style="width:100%; overflow: hidden; text-overflow: ellipsis;" disabled value="2" min="0"maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
                </div>
                <div class="col-xs-3 form-group">
                    <label>Disk size(GB)</label>
                    <input id="limits-desktops_disk_size" name="limits-desktops_disk_size" class="form-control roundbox" style="width:100%; overflow: hidden; text-overflow: ellipsis;" disabled value="40" min="0"maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
                </div>                   
            </div>

            <div class="x_panel">
                <div class="col-xs-3 form-group">
                    <label>Templates</label>
                    <input id="limits-templates" name="limits-templates" class="form-control roundbox" style="width:100%; overflow: hidden; text-overflow: ellipsis;" disabled value="0" min="0" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
                </div>
                <div class="col-xs-3 form-group">
                    <label>Disk size(GB)</label>
                    <input id="limits-templates_disk_size" name="limits-templates_disk_size" class="form-control roundbox" style="width:100%; overflow: hidden; text-overflow: ellipsis;" disabled value="0" min="0" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
                </div>                   
            </div>    

            <div class="x_panel">
                <div class="col-xs-3 form-group">
                    <label>Isos</label>
                    <input id="limits-isos" name="limits-isos" class="form-control roundbox" style="width:100%; overflow: hidden; text-overflow: ellipsis;" disabled value="0" min="0" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
                </div>
                <div class="col-xs-3 form-group">
                    <label>Disk size(GB)</label>
                    <input id="limits-isos_disk_size" name="limits-isos_disk_size" class="form-control roundbox" style="width:100%; overflow: hidden; text-overflow: ellipsis;" disabled value="0" min="0" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
                </div>                
            </div> 

            <div class="x_panel">
                <div class="col-xs-3 form-group">
                    <label>Users</label>
                    <input id="limits-users" name="limits-users" class="form-control roundbox" style="width:100%; overflow: hidden; text-overflow: ellipsis;" disabled value="5" min="0" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
                </div>
            </div>             
        </div>                   
    </div>