<div class="x_panel col-md-8 col-xs-4" id="storage_domains_panel" style="display:none; background-color: #F7F7F7;">
    <div class="x_content" style="background-color:white;padding:10px;">
        <div class="x_title">
            <h3>Domains attached</h3>
            <div class="clearfix"></div>
        </div>
        <table id="s.id" class="table">
            <thead>
                <tr>
                    <th>kind</th>
                    <th>name</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>