.dataTables_filter {float: left; position: absolute;}
.dataTables_filter input { max-width:90px;}

.roundbox{border-radius:4px;border:1px solid #AAAAAA;}

  .blink {
      animation: blink 2s steps(5, start) infinite;
      -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }

.pnotify-center {
   right: calc(50% - 150px) !important;
}
