<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Installation | Isard</title>

  </head>

  <body>

    <h1>Isard | Installation</h1>
    <h2>Checklist</h2>
    
    <table>
        <tr>
            <td>JS and CSS sources:</td>
            <td><b>{{cfg.yarn}}</b></td>
        </tr>
        <tr>
            <td>Configuration file:</td>
            <td><b>{{cfg.config}}</b></td>
        </tr>
    </table>


  </body>
  
  <script></script>
</html>
