<div class="modal fade" id="modalAdminConfig" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">   
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-desktop"> </i>   System configuration
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
              <form id="modalAdd" class="form-horizontal form-label-left" action="{{ url_for('admin_config') }}" method="POST" novalidate>
			  <div class="x_panel">
					<div class="x_content">
                        <input id="id" hidden/>
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="4,40" name="name" placeholder="New desktop name" required="required" type="text">
                        </div>
                     </div>
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <textarea id="textarea" name="description" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                     </div>
				</div>
			  </div>

			  <div class="x_panel">
					 <div class="x_title">
						<h2>Base template<small></small></h2>
						<ul class="nav navbar-right panel_toolbox">
						   <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						   </li>
						</ul>
						<div class="clearfix"></div>
					 </div>
					 <div class="x_content">
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kind">Template type: <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <select id="kind" class="form-control" onchange="filterTemplate(this);" required>
                              <option value="">Choose..</option>
                              <option value="base">Bases</option>
                              <option value="public_template">User published</option>
                              <option value="user_template">Your own private</option>
                           </select>
                        </div>
                     </div>

                        <div class="item form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="template">Template: <span class="required">*</span></label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
							   <select class="form-control" id="template" name="template" size="7" onchange="templateUpdate(this);" required>
								  <optgroup label="(First choose a template type)"></optgroup>
							   </select>
                              </div>
                        </div>
                        <div class="item form-group" id="templatefilters">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="filter">Filter:</label>
                              <div class="col-md-6 col-sm-6 col-xs-12">						
								   <div class="col-md-3">
									  <label>User</label>
									  <select class="form-control" id="templateFilterUser" name="templateFilterUser" onchange="filterTemplateBy('user',this);">
										 <option value="">No data</option>
									  </select>
								   </div>
								   <div class="col-md-3">
									  <label>Category</label>
									  <select class="form-control" id="templateFilterCategory" name="templateFilterCategory" onchange="filterTemplateBy('category',this);">
										 <option value="">No data</option>
									  </select>
								   </div>
								   <div class="col-md-3">
									  <label>Group</label>
									  <select class="form-control" id="templateFilterGroup" name="templateFilterGroup" onchange="filterTemplateBy('group',this);">
										 <option value="">No data</option>
									  </select>
								   </div>
								 </div>						
						</div>
					 </div>	
			  </div>

			  <div class="x_panel">
					 <div class="x_title">
						<h2>Hardware<small></small></h2>
						<ul class="nav navbar-right panel_toolbox">
						   <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
						   </li>
						</ul>
						<div class="clearfix"></div>
					 </div>
					 <div class="x_content" style="display:none">
					{% include '/pages/hardware.html' %}
						<div class="row">
								<div class="col-md-3 col-sm-3 col-xs-12">
									<div class="item form-group">
									   <label>Hyper pool:</label>
									   <select class="form-control" id="hypervisor_pool" name="hypervisor_pool" disabled>
										  <option value="default" selected="default">
											 Default
										  </option>
									   </select>
									</div>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-12">
								</div>
								<div class="col-md-3 col-sm-3 col-xs-12">
								</div>
								<div class="col-md-3 col-sm-3 col-xs-12">
								</div>							
							</div>

					 </div>
				  </div>    
            </div>
                       
            <!-- Modal Footer -->
            <div class="modal-footer">
                     <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                           <button id="send" type="submit" class="btn btn-success">Create domain</button>
                        </div>
                     </div>
            </div>
            </form>
        </div>
    </div>
</div>
