<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
<!--
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.css" />
-->
    <link href="/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.gridster/0.5.6/jquery.gridster.css" />

<style>
#gridster ul {
    height: 480px;
    width: 360px;
    position: relative;
}
#gridster  ul li {
  background: Grey;
  cursor: pointer;
  list-style: none;
}


</style>
{% endblock %}
{% block content %}
<div class="right_col" role="main">
   <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Classroom <small>Desktops distribution in classroom</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                        <li><div class="item form-group pull-right">
                           <label class="control-label col-md-4 col-sm-4 col-xs-12 pull-left" for="classroom">Class: </label>
                           <div class="col-md-8 col-sm-8 col-xs-12">
							   <select class="form-control" id="classroom" name="classroom" style="padding: 0px;">
                                  <option value="none">Select class</option>
                                  <option value="f2a">F2A</option>
                                  <option value="n2i">N2I</option>
							   </select>
                              </div>
                        </div>
                        </li>
<!--
                        <div id="menu-add-new">
-->
                          <li><a class="add-new"><span
                                  style="color: #5499c7; "><i class="fa fa-plus"></i> Add grid</span></a>
                          </li>
<!--
                        </div>
                        <div id="menu-edit-save">
-->
                          <li><a class="menu-clear"><span
                                  style="color: #5499c7; "><i class="fa fa-back"></i> Reset</span></a>
                          </li>  
                          <li><a class="menu-add-one"><span
                                  style="color: #5499c7; "><i class="fa fa-plus"></i> Add desktop</span></a>
                          </li>                        
                          <li><a class="menu-save"><span
                                  style="color: #5499c7; "><i class="fa fa-save"></i> Save classroom</span></a>
                          </li> 
<!--
                        </div>
-->
                        </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="background-color:LightGrey">
<!--
                     <div class="grid-stack">
                     </div>
-->

<div id="gridster" class="gridster">
    <ul>
<!--
        <li id="a" data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
        <li id="b" data-row="2" data-col="1" data-sizex="1" data-sizey="1"></li>
        <li id="c" data-row="3" data-col="1" data-sizex="1" data-sizey="1"></li>

        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1"></li>
        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1"></li>

        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
        <li data-row="2" data-col="4" data-sizex="1" data-sizey="1"></li>
        <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>

        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
        <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>

        <li data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
        <li data-row="2" data-col="6" data-sizex="1" data-sizey="1"></li>
        
        <li data-row="2" data-col="7" data-sizex="1" data-sizey="1"></li>
        <li data-row="2" data-col="8" data-sizex="1" data-sizey="1"></li>
-->
    </ul>
</div>
                  </div>
                </div>
              </div>

          </div>
        </div>
{% include '/admin/pages/classroom_modals.html' %}
{% endblock %}
{% block pagescript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.gridster/0.5.6/jquery.gridster.js"></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.js'></script>
-->
   <!-- Ion.RangeSlider -->
    <script src="/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- iCheck -->
    <script src="/vendors/iCheck/icheck.min.js"></script> 
    <!-- Switchery -->
    <script src="/vendors/switchery/dist/switchery.min.js"></script>
<!--
    <script src="/static/js/snippets/host.var"></script>
-->
    <script src="/static/admin/js/classrooms.js"></script>
{% endblock %}
