<div class="modal fade" id="modalDisposable" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">   
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-desktop"> </i> Disposble desktops
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalScheduler" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">   
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-desktop"> </i> Add new scheduled job
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
              <form id="modalAddScheduler" class="form-horizontal form-label-left" action="{{ url_for('admin_scheduler') }}" method="POST" novalidate>
			  <div class="x_panel">
                 <div class="x_content">
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kind">Type: <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <select id="kind" name="kind" class="form-control" required>
                              <option value="">Choose..</option>
                              <option value="cron">Cron</option>
                              <option value="date">Date</option>
                              <option value="interval">Interval</option>
                           </select>
                        </div>
                     </div>
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="action">Action: <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <select id="action" name="action" class="form-control" required>
                              <option value="">Choose..</option>
                              <option value="domains-stop">Stop all domains</option>
<!--
                              <option value="date">Date</option>
                              <option value="interval">Interval</option>
-->
                           </select>
                        </div>
                     </div>
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="table">Table
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="table" name="table" class="form-control col-md-7 col-xs-12"></input>
                        </div>
                     </div>  
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="filter">Filter
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="filter" name="filter" class="form-control col-md-7 col-xs-12"></input>
                        </div>
                     </div>  
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="update">Update
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="update" name="update" class="form-control col-md-7 col-xs-12"></input>
                        </div>
                     </div>  
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hour">Hour
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="hour" name="hour" class="form-control col-md-7 col-xs-12"></input>
                        </div>
                     </div>  
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="minute">Minute
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="minute" name="minute" class="form-control col-md-7 col-xs-12"></input>
                        </div>
                     </div>  
				 </div>
			  </div>

    
            <!-- Modal Footer -->
            <div class="modal-footer">
                     <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                           <button id="send" type="submit" class="btn btn-success">Add job</button>
                        </div>
                     </div>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">   
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-desktop"> </i> Upload backup file
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>Dropzone multiple file uploader</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <p>Drag multiple files to the box below for multi upload or click to select files. This is for demonstration purposes only, the files are not uploaded to any server.</p>
                        <form action="{{ url_for('admin_backup_upload') }}" class="dropzone"></form>
                        <br />
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>


