<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="right_col" role="main">
    <div class="page-title">
       <div class="title_left">
          <h3><i id="test" class="fa fa-desktop"></i> Domains <small>All system domains</small></h3>
       </div>
       <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

             </div>
          </div>
       </div>
    <div class="clearfix"></div>
    <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
             <div class="x_title">
                        <h2>List of domains in system <small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                        <li><div class="item form-group pull-right">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12 pull-left" for="mactions">Global actions: </label>
                           <div class="col-md-5 col-sm-5 col-xs-12">
							   <select class="form-control" id="mactions" name="mactions" >
                                  <option value="none">Select action</option>
                                  <option value="toggle">Toggle status</option>
                                  <option value="force_stopped">Force Stopped</option>
                                  <option value="force_failed">Force Failed</option>
                                  <option value="delete">Delete</option>
							   </select>
                              </div>
                        </div>
                        </li>
<!--
                          <li><a class="add-new-role"><span
                                  style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
                          </li>
-->

                <li class="">
                  <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span>
                    <span class="fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu pull-right">
                    <li><a class="add-new-upload"> Upload</a></li>
                    <li><a class="add-new-virtbuilder"> Virt Builder</a></li>
                  </ul>
                </li>                          

<!--
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
-->
                        </ul>
             <div class="clearfix"></div>
        </div>
        <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="tableDiv"></div>
                <table id="domains" class="table">
                   <thead>
                      <tr>
                          <th></th>
                         <th>Icon</th>
                         <th>Hypervisor</th>
                         <th>Name</th>
                         <th>Action</th>
                         <th>Status</th>
                         <th>Kind</th>
                         <th>User</th>
                         <th>Category</th>
                         <th>Group</th>
                         <th>last access</th>
                      </tr>
                   </thead>
                   <tfoot>
                      <tr>
                          <th></th>
                         <th>Icon</th>
                         <th>Hypervisor</th>
                         <th>Name</th>
                         <th>Action</th>
                         <th>Status</th>
                         <th>Kind</th>
                         <th>User</th>
                         <th>Category</th>
                         <th>Group</th>
                         <th>last access</th>
                      </tr>
                   </tfoot>
                   <tbody>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
       <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
             <div class="x_title">
                        <h2><i class="fa fa-picture-o"></i> Graphics <small></small></h2> 
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="add-new-interface"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
                          </li>
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
             <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="tableDiv"></div>
                <table id="graphics" class="table table-striped">
                   <thead>
                      <tr>
                         <th></th>
                         <th>Name</th>
                         <th>Description</th>
                         <th></th>
                      </tr>
                   </thead>
                   <tbody>
                   </tbody>
                </table>
             </div>
          </div>
       </div>

       <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
             <div class="x_title">
                        <h2><i class="fa fa-video-camera"></i> Videos <small></small></h2> 
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="add-new-interface"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
                          </li>
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
             <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="tableDiv"></div>
                <table id="videos" class="table table-striped">
                   <thead>
                      <tr>
                         <th></th>
                         <th>Name</th>
                         <th>Description</th>
                         <th></th>
                      </tr>
                   </thead>
                   <tbody>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
       </div>
    <div class="clearfix"></div>
    <div class="row">
       <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
             <div class="x_title">
                        <h2><i class="fa fa-rss"></i> Interfaces <small></small></h2> 
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="add-new-interface"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
                          </li>
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
             <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="tableDiv"></div>
                <table id="interfaces" class="table table-striped">
                   <thead>
                      <tr>
                         <th></th>
                         <th>Name</th>
                         <th>Description</th>
                         <th></th>
                      </tr>
                   </thead>
                   <tbody>
                   </tbody>
                </table>
             </div>
          </div>
       </div>

       <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
             <div class="x_title">
                        <h2><i class="fa fa-hdd-o"></i> Disks <small></small></h2> 
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="add-new-interface"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
                          </li>
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
             <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="tableDiv"></div>
                <table id="disks" class="table table-striped">
                   <thead>
                      <tr>
                         <th></th>
                         <th>Name</th>
                         <th>Description</th>
                         <th></th>
                      </tr>
                   </thead>
                   <tbody>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
       </div>
    <div class="clearfix"></div>
    {% include '/admin/pages/domains_modals.html' %}
    </div>
</div>

{% include '/admin/pages/domains_detail.html' %}
{% endblock %}

{% block pagescript %}
   <!-- Ion.RangeSlider -->
    <script src="/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- iCheck -->
    <script src="/vendors/iCheck/icheck.min.js"></script> 
    <!-- Switchery -->
    <script src="/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Isard restful ajax calls -->
    <script src="/static/js/restful.js"></script>
    <!-- Spice viewer -->
    <script src="/static/js/viewer.js"></script> 
    <!-- Domains sse & hardware subtables -->
    <script src="/static/admin/js/domains.js"></script>
    <script src="/static/admin/js/domains_subtables.js"></script>
{% endblock %}
