<div class="modal fade" id="modalAddBuilder" tabindex="-1" role="dialog" 
     aria-labelledby="modalAddBuilder" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header"  style="padding: 5px;">   
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-gears"> </i>   Create desktop from builder
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body" style="padding: 7px;">
                
              <form id="modalAdd" class="form-inline form-label-left"> 
			  <div class="x_panel" style="padding: 5px;">
                  <p style="font-size: 18px;margin-bottom:0px;">Desktop name and description</p>
					<div class="x_content" style="padding: 0px;">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <label class="control-label" for="name">Name <span class="required">*</span>
                                </label>
                                  <input id="name" maxlength="40" pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 40]" name="name" placeholder="New desktop name" data-parsley-trigger="change" required type="text">
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <label class="control-label" for="description">Description 
                                </label>
                                <input id="description" name="description" placeholder="Desktop description"  type="text" style="width:100%">
                            </div>
                        </div>
				</div>
			  </div>
              

			  <div class="x_panel" style="padding: 5px;">
                  <p style="font-size: 18px;margin-bottom:0px;">Select an Internet template</p>
                        <input  id="template" name="template" type="hidden" required>
                        <table id="modal_add_desktops" class="table table-striped " cellspacing="0" width="100%"  style="margin-top: 0px;">
                           <thead>
                              <tr>
                                 <th>Downloaded</th>
                                 <th>Name</th>
                                 <th>Architecture</th>
                              </tr>
                           </thead>
                           <tbody>
                           </tbody>
                        </table>
                        <div id="datatables-error-status"></div>
                     
			  </div>

            
			  <div class="x_panel" id="hardware-block" style="padding: 5px; display: none;">
					 <p style="font-size: 18px;margin-bottom:0px;">Hardware</p>
					{% include '/snippets/domain_hardware_edit.html' %}
              </div>

            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer" style="padding: 5px;">
                <ul class="nav navbar-left panel_toolbox">
                    <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                   </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button id="btn-hardware" type="button" class="btn btn-info" style="display: none;">Set hardware</button></li>
                    <li><button id="send" type="button" class="btn btn-success">Create desktop</button></li>
                   </li>
                </ul>
            </div>                       
            </form>
        </div>
    </div>
</div>

