
<div class="modal fade" id="modalAddMedia" tabindex="-1" role="dialog" 
     aria-labelledby="modalAddMedia" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header"  style="padding: 5px;">   
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-circle-o"> </i>   Upload Media
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body" style="padding: 7px;">
              <form id="modalAddMediaForm" class="form-horizontal form-label-left" method="POST" novalidate>
			  <div class="x_panel">
					<div class="x_content">
<!--
                        <input id="id" hidden/>
-->
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="url">URL <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="url" class="form-control col-md-7 col-xs-12" parsley-trigger="change" parsley-type="url"  name="url" placeholder="http://" required="required" type="text">
                        </div>
                     </div>
                     
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12"  pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 60]" name="name" placeholder="Media name" data-parsley-trigger="change" required type="text">
                          </div>
                     </div>
                                            
                     <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kind">Type <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-xs-12">
                                   <select id="kind" name="kind" class="form-control" required>
                                      <option value="">Choose..</option>
                                      <option value="iso">ISO CD/DVD</option>
                                      <option value="floppy">Floppy</option>
                                   </select>
                            </div>
                     </div>
                     
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <textarea id="textarea" name="description" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                     </div>

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Hypervisor Pool
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" id="hypervisors_pools" name="hypervisors_pools">
                                <option value="default" selected="default">
                                    Default
                                </option>
                            </select>
                        </div>
                    </div>
				</div>
			  </div>

                                    <div id="alloweds-add">
                                      {% include '/snippets/alloweds_add.html' %}
                                    </div>

            </div>
            <!-- Modal Footer -->
            <div class="modal-footer" style="padding: 5px;">
                <ul class="nav navbar-left panel_toolbox">
                    <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button id="send" type="button" class="btn btn-success">Start download</button></li>
                </ul>
            </div>                       
            </form>
        </div>
    </div>
</div>




<div class="modal fade" id="modalAddMediaLocal" tabindex="-1" role="dialog" 
     aria-labelledby="modalAddMediaLocal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header"  style="padding: 5px;">   
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-circle-o"> </i>   Upload Local Media
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body" style="padding: 7px;">
              <form id="modal-add-media-form-local"  action="{{ url_for('admin_media_localupload') }}" class="form-horizontal form-label-left" method="POST" novalidate>
               
                
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12"  pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 60]" name="name" placeholder="Media name" data-parsley-trigger="change" required type="text">
                          </div>
                     </div>
                                            
                     <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kind">Type <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-xs-12">
                                   <select id="kind" name="kind" class="form-control" required>
                                      <option value="">Choose..</option>
                                      <option value="iso">ISO CD/DVD</option>
                                      <option value="floppy">Floppy</option>
<!--
                                      <option value="disk">Disk</option>
-->
                                   </select>
                            </div>
                     </div>
                     
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <textarea id="textarea" name="description" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                     </div>

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Hypervisor Pool
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" id="hypervisors_pools" name="hypervisors_pools">
                                <option value="default" selected="default">
                                    Default
                                </option>
                            </select>
                        </div>
                    </div>

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Media upload files
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="dropzone" id="myDropzone"></div>
                        </div>
                    </div>                


                                    <div id="upload-alloweds-add">
                                      {% include '/snippets/alloweds_add.html' %}
                                    </div>
                                    
			  </div>


<!--
                                <button id="send" type="button" class="btn btn-success">Start download</button>      
-->
<!--
            </div>
-->
            <!-- Modal Footer -->
            <div class="modal-footer" style="padding: 5px;">
                <ul class="nav navbar-left panel_toolbox">
                    <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                   </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button id="send-localupload" type="submit" class="btn btn-success">Start download</button></li>
                   </li>
                </ul>
            </div>                       
            </form>
        </div>
    </div>
</div>





