version: '3.5'
services:
  isard-api:
    container_name: isard-api
    image: ${DOCKER_IMAGE_PREFIX}api:${DOCKER_IMAGE_TAG:-latest}
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    networks:
      isard-network:
        ipv4_address: ${DOCKER_NET:-172.31.255}.10
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5000/api/v3" ]
      start_period: 30s
      interval: 5s
    volumes:
      - /opt/isard/sshkeys/:/sshkeys:rw
      - /opt/isard/certs/viewers:/viewers:ro
      - /opt/isard/assets/img/desktops:/api/api/static/assets/img/desktops:rw
      - /opt/isard/config:/usr/local/etc/isardvdi
      - /opt/isard/backups:/api/backups:rw
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      PYTHONUNBUFFERED: 1
      NOTIFY_EMAIL:
      DOMAIN:
      LOG_LEVEL:
      DEBUG_STATS: "false"
      DEBUG_WEBSOCKETS: "false"
      RETHINKDB_HOST:
      RETHINKDB_PORT:
      RETHINKDB_DB:
      API_ISARDVDI_SECRET:
      API_HYPERVISORS_SECRET:
      WG_USERS_PORT:
      WG_HYPERS_NET:
      WG_GUESTS_NETS:
      WG_GUESTS_DHCP_MASK:
      VPN_MTU:
      USAGE:
      VIEWER_RDPGW:
      FRONTEND_SHOW_BOOKINGS:
      FRONTEND_DOCS_URI:
      FRONTEND_VIEWERS_DOCS_URI:
      FRONTEND_SHOW_TEMPORAL:
      DIRECTVIEWER_MODE:
      AUTHENTICATION_AUTHENTICATION_TOKEN_DURATION:
      REDIS_HOST:
      REDIS_PORT:
      REDIS_PASSWORD:
      REDIS_TASK_RESULT_TTL:
      WEBAPP_ADMIN_PWD:
      NEXTCLOUD_INSTANCE:
      HTTP_PORT:
      HTTPS_PORT:
      AUTHENTICATION_AUTHENTICATION_LOCAL_ENABLED:
      AUTHENTICATION_AUTHENTICATION_LDAP_ENABLED:
      AUTHENTICATION_AUTHENTICATION_SAML_ENABLED:
      AUTHENTICATION_AUTHENTICATION_GOOGLE_ENABLED:
      BASTION_ENABLED:
      BASTION_SSH_PORT:
      OPERATIONS_API_ENABLED: