services:
  isard-authentication:
    environment:
      # SAML
      - AUTHENTICATION_AUTHENTICATION_SAML_ENABLED=true
      - AUTHENTICATION_AUTHENTICATION_SAML_METADATA_URL=http://${DOCKER_NET:-172.31.255}.86:8080/simplesaml/saml2/idp/metadata.php
      - AUTHENTICATION_AUTHENTICATION_SAML_FIELD_UID=uid
      - AUTHENTICATION_AUTHENTICATION_SAML_FIELD_USERNAME=email
      - AUTHENTICATION_AUTHENTICATION_SAML_REGEX_USERNAME=(.*)@.*
      - AUTHENTICATION_AUTHENTICATION_SAML_FIELD_NAME=email
      - AUTHENTICATION_AUTHENTICATION_SAML_REGEX_NAME=(.*)@.*
      - AUTHENTICATION_AUTHENTICATION_SAML_FIELD_EMAIL=email
      - AUTHENTICATION_AUTHENTICATION_SAML_GUESS_CATEGORY=true
      - AUTHENTICATION_AUTHENTICATION_SAML_FIELD_CATEGORY=categories

  # Credentials: https://github.com/rroemhild/docker-test-openldap#ldap-structure
  isard-authentication-test-ldap:
    container_name: isard-authentication-test-ldap
    image: rroemhild/test-openldap
    ulimits:
      nofile: 1024
    networks:
      - isard-network

  # Credentials: https://github.com/kristophjunge/docker-test-saml-idp#usage
  isard-authentication-test-saml:
    container_name: isard-authentication-test-saml
    image: kristophjunge/test-saml-idp
    networks:
      isard-network:
        ipv4_address: ${DOCKER_NET:-172.31.255}.86
    volumes:
      - ${BUILD_ROOT_PATH}/component/authentication-test-saml/simplesamlphp-authsources.php:/var/www/simplesamlphp/config/authsources.php
    environment:
      - SIMPLESAMLPHP_SP_ENTITY_ID=https://${DOMAIN}/authentication/saml/metadata
      - SIMPLESAMLPHP_SP_ASSERTION_CONSUMER_SERVICE=https://${DOMAIN}/authentication/saml/acs
      - SIMPLESAMLPHP_SP_SINGLE_LOGOUT_SERVICE=https://${DOMAIN}/authentication/saml/slo
      - AUTHENTICATION_TEST_SAML_CATEGORY_IDS
