services:
  isard-authentication:
    container_name: isard-authentication
    image: ${DOCKER_IMAGE_PREFIX}authentication:${DOCKER_IMAGE_TAG:-latest}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    networks:
      isard-network:
        ipv4_address: ${DOCKER_NET:-172.31.255}.11
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:1313/healthcheck"]
      start_period: 30s
      interval: 5s
    volumes:
      - "/opt/isard/authentication/keys:/keys"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      LOG_LEVEL:
      AUTHENTICATION_LOG_LEVEL:
      AUTHENTICATION_DB_HOST:
      AUTHENTICATION_DB_PORT:
      AUTHENTICATION_DB_USR:
      AUTHENTICATION_DB_PWD:
      AUTHENTICATION_DB_DB:
      AUTHENTICATION_HTTP_HOST:
      AUTHENTICATION_HTTP_PORT:

      DOMAIN:
      AUTHENTICATION_AUTHENTICATION_HOST:
      API_ISARDVDI_SECRET:
      AUTHENTICATION_AUTHENTICATION_SECRET:
      AUTHENTICATION_AUTHENTICATION_TOKEN_DURATION:
      AUTHENTICATION_NOTIFIER_ADDRESS:

      AUTHENTICATION_AUTHENTICATION_LIMITS_ENABLED:
      AUTHENTICATION_AUTHENTICATION_LIMITS_MAX_ATTEMPTS:
      AUTHENTICATION_AUTHENTICATION_LIMITS_RETRY_AFTER:
      AUTHENTICATION_AUTHENTICATION_LIMITS_INCREMENT_FACTOR:

      AUTHENTICATION_AUTHENTICATION_LOCAL_ENABLED:

      AUTHENTICATION_AUTHENTICATION_LDAP_ENABLED:

      AUTHENTICATION_AUTHENTICATION_SAML_ENABLED:

      AUTHENTICATION_AUTHENTICATION_GOOGLE_ENABLED:
      AUTHENTICATION_AUTHENTICATION_GOOGLE_CLIENT_ID:
      AUTHENTICATION_AUTHENTICATION_GOOGLE_CLIENT_SECRET:
