version: "3.5"
services:
  isard-authentication:
    container_name: isard-authentication
    image: ${DOCKER_IMAGE_PREFIX}authentication:${DOCKER_IMAGE_TAG:-latest}
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    networks:
      isard-network:
        ipv4_address: ${DOCKER_NET:-172.31.255}.11
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:1313/healthcheck"]
      start_period: 30s
      interval: 5s
    volumes:
      - "/opt/isard/authentication/keys:/keys"
      - "/opt/isard/authentication/metadata:/metadata"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      LOG_LEVEL:
      AUTHENTICATION_LOG_LEVEL:
      AUTHENTICATION_DB_HOST:
      AUTHENTICATION_DB_PORT:
      AUTHENTICATION_DB_USR:
      AUTHENTICATION_DB_PWD:
      AUTHENTICATION_DB_DB:
      AUTHENTICATION_HTTP_HOST:
      AUTHENTICATION_HTTP_PORT:

      DOMAIN:
      AUTHENTICATION_AUTHENTICATION_HOST:
      API_ISARDVDI_SECRET:
      AUTHENTICATION_AUTHENTICATION_SECRET:
      AUTHENTICATION_AUTHENTICATION_TOKEN_DURATION:
      AUTHENTICATION_NOTIFIER_ADDRESS:

      AUTHENTICATION_AUTHENTICATION_LIMITS_ENABLED:
      AUTHENTICATION_AUTHENTICATION_LIMITS_MAX_ATTEMPTS:
      AUTHENTICATION_AUTHENTICATION_LIMITS_RETRY_AFTER:
      AUTHENTICATION_AUTHENTICATION_LIMITS_INCREMENT_FACTOR:

      AUTHENTICATION_AUTHENTICATION_LOCAL_ENABLED:

      AUTHENTICATION_AUTHENTICATION_LDAP_ENABLED:
      AUTHENTICATION_AUTHENTICATION_LDAP_PROTOCOL:
      AUTHENTICATION_AUTHENTICATION_LDAP_HOST:
      AUTHENTICATION_AUTHENTICATION_LDAP_PORT:
      AUTHENTICATION_AUTHENTICATION_LDAP_BIND_DN:
      AUTHENTICATION_AUTHENTICATION_LDAP_PASSWORD:
      AUTHENTICATION_AUTHENTICATION_LDAP_BASE_SEARCH:
      AUTHENTICATION_AUTHENTICATION_LDAP_FILTER:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_UID:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_UID:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_USERNAME:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_USERNAME:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_NAME:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_NAME:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_EMAIL:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_EMAIL:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_PHOTO:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_PHOTO:
      AUTHENTICATION_AUTHENTICATION_LDAP_AUTO_REGISTER:
      AUTHENTICATION_AUTHENTICATION_LDAP_AUTO_REGISTER_GROUPS:
      AUTHENTICATION_AUTHENTICATION_LDAP_GUESS_CATEGORY:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_CATEGORY:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_CATEGORY:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_GROUP:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_GROUP:
      AUTHENTICATION_AUTHENTICATION_LDAP_GROUP_DEFAULT:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_LIST_SEARCH_BASE:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_LIST_FILTER:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_LIST_USE_USE_DN:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_LIST_FIELD:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_LIST_REGEX:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_ADMIN_IDS:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_MANAGER_IDS:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_ADVANCED_IDS:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_USER_IDS:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_DEFAULT:

      AUTHENTICATION_AUTHENTICATION_SAML_ENABLED:
      AUTHENTICATION_AUTHENTICATION_SAML_METADATA_URL:
      AUTHENTICATION_AUTHENTICATION_SAML_KEY_FILE:
      AUTHENTICATION_AUTHENTICATION_SAML_CERT_FILE:
      AUTHENTICATION_AUTHENTICATION_SAML_MAX_ISSUE_DELAY:
      AUTHENTICATION_AUTHENTICATION_SAML_FIELD_UID:
      AUTHENTICATION_AUTHENTICATION_SAML_REGEX_UID:
      AUTHENTICATION_AUTHENTICATION_SAML_FIELD_USERNAME:
      AUTHENTICATION_AUTHENTICATION_SAML_REGEX_USERNAME:
      AUTHENTICATION_AUTHENTICATION_SAML_FIELD_NAME:
      AUTHENTICATION_AUTHENTICATION_SAML_REGEX_NAME:
      AUTHENTICATION_AUTHENTICATION_SAML_FIELD_EMAIL:
      AUTHENTICATION_AUTHENTICATION_SAML_REGEX_EMAIL:
      AUTHENTICATION_AUTHENTICATION_SAML_FIELD_PHOTO:
      AUTHENTICATION_AUTHENTICATION_SAML_REGEX_PHOTO:
      AUTHENTICATION_AUTHENTICATION_SAML_AUTO_REGISTER:
      AUTHENTICATION_AUTHENTICATION_SAML_AUTO_REGISTER_ROLES:
      AUTHENTICATION_AUTHENTICATION_SAML_GUESS_CATEGORY:
      AUTHENTICATION_AUTHENTICATION_SAML_FIELD_CATEGORY:
      AUTHENTICATION_AUTHENTICATION_SAML_REGEX_CATEGORY:
      AUTHENTICATION_AUTHENTICATION_SAML_FIELD_GROUP:
      AUTHENTICATION_AUTHENTICATION_SAML_REGEX_GROUP:
      AUTHENTICATION_AUTHENTICATION_SAML_GROUP_DEFAULT:
      AUTHENTICATION_AUTHENTICATION_SAML_GUESS_ROLE:
      AUTHENTICATION_AUTHENTICATION_SAML_FIELD_ROLE:
      AUTHENTICATION_AUTHENTICATION_SAML_ROLE_ADMIN_IDS:
      AUTHENTICATION_AUTHENTICATION_SAML_ROLE_MANAGER_IDS:
      AUTHENTICATION_AUTHENTICATION_SAML_ROLE_ADVANCED_IDS:
      AUTHENTICATION_AUTHENTICATION_SAML_ROLE_USER_IDS:
      AUTHENTICATION_AUTHENTICATION_SAML_ROLE_DEFAULT:

      AUTHENTICATION_AUTHENTICATION_GOOGLE_ENABLED:
      AUTHENTICATION_AUTHENTICATION_GOOGLE_CLIENT_ID:
      AUTHENTICATION_AUTHENTICATION_GOOGLE_CLIENT_SECRET:
