version: '3.5'
services:
  isard-db:
    container_name: isard-db
    image: ${DOCKER_IMAGE_PREFIX}db:${DOCKER_IMAGE_TAG:-latest}
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    networks:
      isard-network:
        ipv4_address: ${DOCKER_NET:-172.31.255}.13
    healthcheck:
      test: echo "r.db('rethinkdb').table('current_issues').count().eq(0).run() and exit(0) or exit(1)" | rethinkdb repl
      start_period: 30s
      interval: 5s
    volumes:
      - /opt/isard/database:/data:rw
      - /opt/isard-local/stats/prometheus:/var/lib/prometheus:rw
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      ENABLE_STATS: ""
