services:
  isard-engine:
    container_name: isard-engine
    image: ${DOCKER_IMAGE_PREFIX}engine:${DOCKER_IMAGE_TAG-latest}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    networks:
      isard-network:
        ipv4_address: ${DOCKER_NET:-172.31.255}.14
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5000/info" ]
      start_period: 5m
      interval: 5s
    volumes:
      - /opt/isard/certs/viewers:/certs:rw
      - /opt/isard/sshkeys:/root/.ssh:rw
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - isard-db
    environment:
      API_ISARDVDI_SECRET:
      DOMAIN:
      ENGINE_DISK_BALANCER:
      ENGINE_HYPER_BALANCER:
      GPU_FAKE:
      LOG_LEVEL:
      QCOW2_CLUSTER_SIZE:
      QCOW2_EXTENDED_L2:
      RETHINKDB_DB:
      RETHINKDB_HOST:
      RETHINKDB_PORT:
      STATS_RETHINKDB_PORT:
      TELEGRAM_ENGINE_CHAT_ID:
      TELEGRAM_ENGINE_TOKEN:
      WEBAPP_ADMIN_PWD:
      LOG_EXCEPT_ID_LEVEL:
      ENGINE_GUESTS_DISK_DRIVER_CACHE:
      # Transitional NOTIFY_EMAIL* variables to import SMTP setting to db via migration 175
      NOTIFY_EMAIL:
      NOTIFY_EMAIL_SMTP_SERVER:
      NOTIFY_EMAIL_SMPT_PORT:
      NOTIFY_EMAIL_USERNAME:
      NOTIFY_EMAIL_PASSWORD:
      # Transitional AUTHENTICATION_AUTHENTICATION_LDAP_* variables to import LDAP configuration
      # to rethinkdb via migration 180
      AUTHENTICATION_AUTHENTICATION_LDAP_PROTOCOL:
      AUTHENTICATION_AUTHENTICATION_LDAP_HOST:
      AUTHENTICATION_AUTHENTICATION_LDAP_PORT:
      AUTHENTICATION_AUTHENTICATION_LDAP_BIND_DN:
      AUTHENTICATION_AUTHENTICATION_LDAP_PASSWORD:
      AUTHENTICATION_AUTHENTICATION_LDAP_BASE_SEARCH:
      AUTHENTICATION_AUTHENTICATION_LDAP_FILTER:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_UID:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_UID:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_USERNAME:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_USERNAME:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_NAME:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_NAME:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_EMAIL:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_EMAIL:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_PHOTO:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_PHOTO:
      AUTHENTICATION_AUTHENTICATION_LDAP_AUTO_REGISTER:
      AUTHENTICATION_AUTHENTICATION_LDAP_AUTO_REGISTER_GROUPS:
      AUTHENTICATION_AUTHENTICATION_LDAP_GUESS_CATEGORY:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_CATEGORY:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_CATEGORY:
      AUTHENTICATION_AUTHENTICATION_LDAP_FIELD_GROUP:
      AUTHENTICATION_AUTHENTICATION_LDAP_REGEX_GROUP:
      AUTHENTICATION_AUTHENTICATION_LDAP_GROUP_DEFAULT:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_LIST_SEARCH_BASE:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_LIST_FILTER:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_LIST_USE_USE_DN:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_LIST_FIELD:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_LIST_REGEX:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_ADMIN_IDS:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_MANAGER_IDS:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_ADVANCED_IDS:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_USER_IDS:
      AUTHENTICATION_AUTHENTICATION_LDAP_ROLE_DEFAULT:
      AUTHENTICATION_AUTHENTICATION_LDAP_SAVE_EMAIL:
