services:
  isard-engine:
    container_name: isard-engine
    image: ${DOCKER_IMAGE_PREFIX}engine:${DOCKER_IMAGE_TAG-latest}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    networks:
      isard-network:
        ipv4_address: ${DOCKER_NET:-172.31.255}.14
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5000/info" ]
      start_period: 5m
      interval: 5s
    volumes:
      - /opt/isard/certs/viewers:/certs:rw
      - /opt/isard/sshkeys:/root/.ssh:rw
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - isard-db
    environment:
      API_ISARDVDI_SECRET:
      DOMAIN:
      ENGINE_DISK_BALANCER:
      ENGINE_HYPER_BALANCER:
      GPU_FAKE:
      LOG_LEVEL:
      QCOW2_CLUSTER_SIZE:
      QCOW2_EXTENDED_L2:
      RETHINKDB_DB:
      RETHINKDB_HOST:
      RETHINKDB_PORT:
      STATS_RETHINKDB_PORT:
      TELEGRAM_ENGINE_CHAT_ID:
      TELEGRAM_ENGINE_TOKEN:
      WEBAPP_ADMIN_PWD:
      LOG_EXCEPT_ID_LEVEL:
      ENGINE_GUESTS_DISK_DRIVER_CACHE:
      # Transitional NOTIFY_EMAIL* variables to import SMTP setting to db via migration 175
      NOTIFY_EMAIL:
      NOTIFY_EMAIL_SMTP_SERVER:
      NOTIFY_EMAIL_SMPT_PORT:
      NOTIFY_EMAIL_USERNAME:
      NOTIFY_EMAIL_PASSWORD:
