version: '3.5'
services:
  isard-guac:
    container_name: isard-guac
    image: ${DOCKER_IMAGE_PREFIX}guac:${DOCKER_IMAGE_TAG-latest}
    environment:
      GUACD_ADDR: isard-vpn:4822
      API_ISARDVDI_SECRET: ${API_ISARDVDI_SECRET}
    networks:
      isard-network:
        ipv4_address: ${DOCKER_NET:-172.31.255}.16
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
