version: "3.5"
services:
  isard-hypervisor:
    container_name: isard-hypervisor
    image: ${DOCKER_IMAGE_PREFIX}hypervisor:${DOCKER_IMAGE_TAG-latest}
    networks:
      isard-network: {}
      isard-vpn:
    ports:
      - "2022:22"
    privileged: true
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /opt/isard/certs/viewers:/etc/pki/libvirt-spice:rw
      - /opt/isard/sshkeys:/root/.ssh:rw
      - /opt/isard/hypervisor/sshd_keys:/usr/local/etc/ssh:rw
      - /opt/isard:/isard:rw
      - /opt/isard-local/sockets/:/var/run/libvirt/
    env_file:
      - .env
