services:
  isard-monitor-proxy:
    build:
      context: ${BUILD_ROOT_PATH}
      dockerfile: docker/haproxy/Dockerfile
      target: production
      args:
        HAPROXY_RUN_IMAGE: ${HAPROXY_RUN_IMAGE}
        DOCKER_IMAGE_PREFIX: ${DOCKER_IMAGE_PREFIX}
        DOCKER_IMAGE_TAG: ${DOCKER_IMAGE_TAG}
