networks:
  isard-network:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 9000
    external: false
    name: isard-network
    ipam:
      config:
        - subnet: ${DOCKER_NET:-172.31.255}.0/24
