services:
  isard-openapi:
    container_name: isard-openapi
    image: ${DOCKER_IMAGE_PREFIX}openapi:${DOCKER_IMAGE_TAG:-latest}
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    networks:
      isard-network:
        ipv4_address: ${DOCKER_NET:-172.31.255}.152
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "5000"]
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5000/" ]
      start_period: 30s
      interval: 5s
    environment:
      HTTPS_PORT: ${HTTPS_PORT:-443}