version: '3.5'
services:
  isard-postgres:
    container_name: isard-postgres
    image: ${POSTGRESQL_IMG-postgres:15.3-alpine3.18}
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    networks:
      isard-network:
        ipv4_address: ${DOCKER_NET:-172.31.255}.212
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /opt/isard/postgres:/var/lib/postgresql/data
      - ${BUILD_ROOT_PATH}/docker/postgres/init_databases.sh:/docker-entrypoint-initdb.d/init_databases.sh
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=${WEBAPP_ADMIN_PWD}
