version: '3.5'
services:
  isard-scheduler:
    container_name: isard-scheduler
    image: ${DOCKER_IMAGE_PREFIX}scheduler:${DOCKER_IMAGE_TAG:-latest}
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    volumes:
      - /opt/isard/backups:/src/backups:rw
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ${BUILD_ROOT_PATH}/frontend/src/locales:/src/scheduler/locales:ro
    networks:
      isard-network:
        ipv4_address: ${DOCKER_NET:-172.31.255}.24
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5000/scheduler/healthcheck" ]
      start_period: 30s
      interval: 5s
    environment:
      LOG_LEVEL:
      RETHINKDB_HOST: ${RETHINKDB_HOST-isard-db}
      RETHINKDB_PORT: ${RETHINKDB_PORT-28015}
      RETHINKDB_DB: ${RETHINKDB_DB-isard}
      API_ISARDVDI_SECRET:
      USAGE:
