services:
  isard-sessions:
    image: ${GOLANG_BUILD_IMAGE}
    command:
      - ash
      - -c
      - >-
        go install github.com/githubnemo/CompileDaemon@latest &&
        go install github.com/go-delve/delve/cmd/dlv@latest &&

        CompileDaemon \
          -log-prefix=false \
          -graceful-kill=true \
          -directory=/sessions \
          -build="go build -o /bin/sessions ./sessions/cmd/sessions/main.go" \
          -command="dlv exec --headless=true --listen=:4000 --api-version=2 --accept-multiclient --continue /bin/sessions"
    volumes:
      - ${BUILD_ROOT_PATH}/go.mod:/sessions/go.mod
      - ${BUILD_ROOT_PATH}/go.sum:/sessions/go.sum
      - ${BUILD_ROOT_PATH}/pkg:/sessions/pkg
      - ${BUILD_ROOT_PATH}/sessions:/sessions/sessions
      - /tmp/isardvdi-go-devel/cache:/root/.cache/go-build
      - /tmp/isardvdi-go-devel/pkg:/go/pkg
    security_opt:
      - "seccomp:unconfined"
    cap_add:
      - SYS_PTRACE
