services:
  isard-stats-go:
    image: ${DOCKER_IMAGE_PREFIX}stats-go:${DOCKER_IMAGE_TAG-latest}
    volumes:
      - type: bind
        source: /opt/isard-local/conntrack
        target: /conntrack
        bind: { create_host_path: true }
      - type: bind
        source: /etc/timezone
        target: /etc/timezone
        read_only: true
        bind: { create_host_path: true }
      - type: bind
        source: /etc/localtime
        target: /etc/localtime
        read_only: true
        bind: { create_host_path: true }
    container_name: isard-stats-go
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    restart: "no"
    networks:
      isard-network: {}
    environment:
      LOG_LEVEL:
      STATS_LOG_LEVEL:
      STATS_HTTP_HOST:
      STATS_HTTP_PORT:

      DOMAIN:
      VIDEO_DOMAIN:
      HYPER_ID:
      STATS_DOMAIN:
      FLAVOUR:
      STATS_FLAVOUR:
      STATS_LIBVIRT_URI:
      STATS_SSH_HOST:
      STATS_SSH_PORT:
      STATS_SSH_USER:
      API_HYPERVISORS_SECRET:
      STATS_COLLECTORS_HYPERVISOR_ENABLE:
      STATS_COLLECTORS_DOMAIN_ENABLE:
      STATS_COLLECTORS_SYSTEM_ENABLE:
      STATS_COLLECTORS_SOCKET_ENABLE:
      STATS_COLLECTORS_ISARDVDI_API_ENABLE:
      STATS_COLLECTORS_ISARDVDI_API_ADDR:
      API_ISARDVDI_SECRET:
      STATS_COLLECTORS_ISARDVDI_API_SECRET:
      STATS_COLLECTORS_ISARDVDI_AUTHENTICATION_ENABLE:
      LOKI_ADDRESS:
      STATS_COLLECTORS_ISARDVDI_AUTHENTICATION_LOKI_ADDRESS:
      STATS_COLLECTORS_OCI_ENABLE:
      TF_VAR_tenancy_ocid:
      TF_VAR_user_ocid:
      TF_VAR_fingerprint:
      TF_VAR_region:
      TF_VAR_private_key:
      STATS_COLLECTORS_CONNTRACK_ENABLE:

  isard-grafana-alloy:
    container_name: isard-grafana-alloy
    image: grafana/alloy:v1.11.3
    privileged: true
    user: root
    pid: host
    networks:
      isard-network: {}
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      # Alloy
      - ${BUILD_ROOT_PATH}/docker/grafana-alloy:/usr/local/etc/alloy:ro
      - type: bind
        source: /opt/isard-local/stats/alloy
        target: /var/lib/alloy/data
        bind: { create_host_path: true }
      # Cadvisor and Node Exporter
      - /:/rootfs:ro,rslave
      # Cadvisor
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      # Node Exporter
      - type: bind
        source: /opt/isard/stats/prometheus
        target: /var/lib/prometheus
        bind: { create_host_path: true }
      # This is also used for log extraction
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
      - /var/log:/var/log:ro
      # General system
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    restart: "unless-stopped"
    entrypoint: /usr/local/etc/alloy/run.sh
    environment:
      - LOG_LEVEL=${LOG_LEVEL}
      - FLAVOUR=${FLAVOUR}
      - DOMAIN=${DOMAIN:-localhost}
      - PROMETHEUS_ADDRESS=${PROMETHEUS_ADDRESS:-http://isard-prometheus:9090}
      - LOKI_ADDRESS=${LOKI_ADDRESS:-http://isard-loki:3100}
      - PYROSCOPE_EBPF=${PYROSCOPE_EBPF:-false}
      - PYROSCOPE_ADDRESS=${PYROSCOPE_ADDRESS:-http://isard-pyroscope:4040}
