version: '3.5'
services:
  isard-storage:
    container_name: isard-storage
    image: ${DOCKER_IMAGE_PREFIX}storage:${DOCKER_IMAGE_TAG-latest}
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    networks:
      isard-network:
        ipv4_address: ${DOCKER_NET:-172.31.255}.21
    volumes:
      #- /opt/isard-local/sockets/:/var/run/libvirt/
      - /opt/isard-local/logs:/isard/logs:rw
      - /opt/isard/templates:/isard/templates:rw
      - /opt/isard/groups:/isard/groups:rw
      - /opt/isard/backups:/isard/backups:ro
      - /opt/isard/media:/isard/media:rw
      - /opt/isard/volatile:/isard/volatile:rw
      - /opt/isard/storage_pools:/isard/storage_pools:rw
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /opt/isard-local/environment:/usr/local/etc/environment:ro
    environment:
      ENV: /usr/local/etc/environment
      PYTHONUNBUFFERED: 1
      STORAGE_DOMAIN:
      REDIS_HOST:
      REDIS_PORT:
      REDIS_PASSWORD:
      QCOW2_CLUSTER_SIZE:
      QCOW2_EXTENDED_L2:
      CAPABILITIES_HYPER:
      CAPABILITIES_DISK:
      CAPABILITIES_STORAGE_POOLS:
      REDIS_WORKERS:
      RETHINKDB_HOST:
