cachetools~=5.3
Flask~=3.0
gevent==23.9.1
pydantic~=2.4
PyJWT==2.8.0
requests==2.31.0
rethinkdb==2.4.10.post1
rq~=1.14
spectree~=1.2
waitress~=2.1
simple-colors~=0.1.5
python-json-logger~=2.0.7
html-sanitizer==2.4.4
lxml==5.2.0