cachetools~=5.3
Flask~=3.0
gevent~=25.5
pydantic~=2.12
PyJWT==2.8.0
requests~=2.32.4
rethinkdb @ git+https://github.com/isard-vdi/rethinkdb-python.git@modernize-python-client
rq==2.0.0
spectree~=1.2
waitress~=3.0.1
simple-colors~=0.1.5
python-json-logger==3.3.0
html-sanitizer==2.4.4