<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.css" />
{% endblock %}
{% block content %}
<div class="right_col" role="main">
<!--
   <div class="clearfix"></div>
-->
<!--
            <div class="row">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-users"></i> Select users <small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="btn-add-disposables" data-panel="disposables"><span style="color: #5499c7; "><i class="fa fa-pencil"></i> Add disposable</span></a>
                            <li><a class="btn-edit" data-panel="disposable_desktops"><span style="color: #5499c7; "><i class="fa fa-pencil"></i> Edit</span></a>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {% include '/snippets/classroom_users.tmpl' %}
                    </div>
                </div>
            </div>
-->

            <div class="row">
<!--
              <div class="col-md-12 col-sm-12 col-xs-12">
-->
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Classroom <small>Drag and drop users to their position in class</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     
                      {% include '/snippets/classroom_test.tmpl' %}
                  </div>
<!--
                </div>
-->
              </div>
            </div>

<!--
                </div>
            </div>
-->
</div>
{% endblock %}
{% block pagescript %}
<!--
    <script src="/static/js/restful.js"></script>
-->
<!--
<script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.js'></script>
<script>
$(document).ready(function() {
    $('.top_nav').hide()
    $('#menu_toggle').click()


    $(function () {
        $('.grid-stack').gridstack({
                                cellHeight: 200,
                                cellWidth: 10,
                                verticalMargin: 10,
                                    resizable: {
        handles: 'e'
    }
                            });
    });
});
</script>
{% endblock %}
