<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
<div class="right_col" role="main">
   <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Classroom <small>Desktops distribution in classroom</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      {% include '/snippets/host.tmpl' %}
                  </div>
                </div>
              </div>

          </div>
        </div>
{% endblock %}
{% block pagescript %}
    <script src="/static/js/restful.js"></script>
{% endblock %}
