<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
    <!-- Ion.RangeSlider -->
    <link href="/vendors/normalize-css/normalize.css" rel="stylesheet">
<!--
    <link href="/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
-->
        <!-- Switchery -->
    <link href="/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="right_col" role="main">
<div class="page-title">
   <div class="title_left">
      <h3><i id="test" class="fa fa-desktop"></i> Desktops <small></small></h3>
   </div>
</div>
<div class="clearfix"></div>
<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
         <div class="x_title">
            <h2>List of desktops <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
				<li><a class="btn-new"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
               </li>
            </ul>
            <div class="clearfix"></div>
         </div>
         <div class="x_content">
            <p class="text-muted font-13 m-b-30">
            </p>
            <table id="desktops" class="table table-striped" width="100%">
               <thead>
                  <tr>
					 <th></th>
                     <th></th>
                     <th>Action</th>
                     <th>Display</th>
                     <th>Status</th>
                     <th>Name</th>
                     <th>Hypervisor</th>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </div>
   </div>

{% include '/pages/desktops_modals.html' %}
</div>
</div>

<!-- Warning: this comment is needed for spiceTLS
<textarea id="caStore" type="text" cols="65" rows="15" style="display:none"></textarea>
-->
<!-- Is it possible to hide this? -->
<embed type="application/x-spice" width=0 height=0>

{% include '/pages/desktops_detail.html' %}
{% endblock %}

{% block pagescript %}
   <!-- Ion.RangeSlider -->
<!--
    <script src="/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
-->
   <!-- Ion.RangeSlider -->
    <script src="/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- iCheck -->
    <script src="/vendors/iCheck/icheck.min.js"></script> 
    <!-- Switchery -->
    <script src="/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Isard restful ajax calls -->
    <script src="/static/js/restful.js"></script>
    <!-- Spice viewer -->
    <script src="/static/js/viewer.js"></script> 
    <!-- Desktops sse & modals -->
    <script src="/static/js/desktops.js"></script>
<!--
    <script src="/static/js/desktops_modals.js"></script>
-->
{% endblock %}
