<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
<div class="right_col" role="main">
   <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Users <small>User activity</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                        <li><div class="item form-group pull-right">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12 pull-left" for="mactions">Category: </label>
                           <div class="col-md-5 col-sm-5 col-xs-12">
							   <select class="form-control" id="mactions" name="mactions" >
                                  <option value="none">Select action</option>
                                  <option value="toggle">Toggle status</option>
                                  <option value="force_stopped">Force Stopped</option>
                                  <option value="force_failed">Force Failed</option>
                                  <option value="delete">Delete</option>
							   </select>
                              </div>
                        </div>
                        </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     
                      {% include '/snippets/classroom.tmpl' %}
                  </div>
                </div>
              </div>

          </div>
        </div>
{% endblock %}
{% block pagescript %}
<!--
    <script src="/static/js/restful.js"></script>
-->
<!--
<script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js"></script>
-->
<script>
$(document).ready(function() {
    $('.top_nav').hide()
    $('#menu_toggle').click()
});
</script>
{% endblock %}
