    [Unit]
    Description=uWSGI instance to start IsardVDI
    After=firewalld.service

    [Service]
    ExecStart=/usr/bin/bash -c 'cd /usr/local/src/isard; python3 run_webapp.py 1>webapp.log 2>webapp-error.log'
    Type=simple

    [Install]
    WantedBy=multi-user.target


