<div class="modal fade" id="modalEditLoginNotification" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-pencil fa-1x"></i> Edit login notification
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalEditLoginNotificationForm">
                    {% include '/snippets/login_notification_fields.html' %}
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button id="send" type="button" class="btn btn-info">Edit</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>