<div style="display: none">
  <div class="row template-migration-detail">
    <div class="col-md-1 col-sm-1 col-xs-12">
      <div class="row">
        <div
          class="col-md-12 col-sm-12 col-xs-12"
          id="actions-d.id"
          data-pk="d.id"
          data-name="d.name"
        ></div>
      </div>
    </div>
    <div class="col-md-11 col-sm-11 col-xs-12">
      <div class="x_panel" style="background-color: #f7f7f7">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">
              {% include '/snippets/migration_items_result.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
