<div style="display:none">
  <div class="row notifications-logs-detail" id="notification-detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="x_title">
            <h3>Notifications data <small></small></h3>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table id="notifications-logs-table" class="table" style="width:100%">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
