<div style="display:none">
    <div class="row notification-tmpl-detail">
        <div class="col-md-11 col-sm-11 col-xs-12">
            <div class="x_panel" style="background-color: #F7F7F7">
                <div class="x_title" id="system-title" style="display:none;">
                    <h3>System default template<br>
                        <small>
                            This message will be sent if user language is not available
                            and no default language is specified in the template
                        </small>
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_title" id="custom-title" style="display:none;">
                    <h3>Default language template<br>
                        <small>
                            This message will be sent or shown if user language is not available
                        </small>
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="row" id="content-row">
                    <div class="col col-md-12 col-xs-12 ">
                        <h4><b>Title / subject</b></h4>
                        <div id="system_tmpl-title" class="x_panel"></div>
                    </div>
                    <div class="col col-md-12 col-xs-12">
                        <h4><b>Message</b></h4>
                        <div class="x_panel">
                            <div style="text-align:center;" id="system_tmpl-body" class="x_content">
                            </div>
                            <div style="text-align:center;" id="system_tmpl-footer" class="x_content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>