### START 16_00_fe_secured_begin.cfg ###
frontend  fe_secured
  bind            0.0.0.0:443 ssl crt /certs/chain.pem
  mode            http
  timeout         client   3600s
  maxconn         50000
  option          httpclose
  option          tcpka

  # BEGIN ACLs
  acl is_forbid_domain_ip env(FORBID_DOMAIN_IP) -m str true
  acl is_domain hdr(host) -m str "${DOMAIN}"
  acl is_blacklisted src -f /usr/local/etc/haproxy/lists/black.lst -f /usr/local/etc/haproxy/lists/external/black.lst
  acl is_whitelisted src -f /usr/local/etc/haproxy/lists/white.lst
  acl is_bad_path path_beg -i /. /BitKeeper
  acl is_letsencrypt path_beg -i /.well-known/acme-challenge/
  # END ACLs

  # Blacklist & Whitelist
  http-request set-var(txn.block) str("BLACKLISTED") if is_blacklisted !is_whitelisted
  http-request reject if is_blacklisted !is_whitelisted

  # Allow only $DOMAIN accesses, not IP
  http-request set-var(txn.block) str("IP_ACCESS") if !is_domain is_forbid_domain_ip
  http-request reject if !is_domain is_forbid_domain_ip

  # Bad paths
  http-request set-var(txn.block) str("BAD PATH") if is_bad_path !is_letsencrypt
  http-request reject if is_bad_path

  # Security Headers
  #https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Headers_Cheat_Sheet.html
  http-response del-header X-Powered-By
  http-response del-header Server
  http-response set-header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
  http-response add-header X-Frame-Options DENY
  http-response add-header X-XSS-Protection 0
  # http-response set-header Content-Security-Policy:script-src https://<scripts domains> (only in devel)
  http-response add-header Referrer-Policy no-referrer
  http-response add-header X-Content-Type-Options nosniff

  # BEGIN CORS
  http-response add-header Access-Control-Allow-Origin "${CORS}"
  http-response add-header Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
  http-response add-header Access-Control-Max-Age 3628800
  http-response add-header Access-Control-Allow-Methods "GET, POST, PUT, DELETE"
  # END CORS
### END 16_00_fe_secured_begin.cfg ###
