    # Grafana backend
    use_backend be_isard-grafana if { path_beg /monitor } or { path_beg /monitor/ }

    # Loki backend
    use_backend be_isard-loki if { path_beg /loki }
    
    # Prometheus backend
    use_backend be_isard-prometheus if  { path_beg /prometheus } or { path_beg /prometheus/ }

    # letsencrypt
    use_backend letsencrypt-backend if is_letsencrypt

    default_backend be_drop