<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
    <!-- Ion.RangeSlider -->
    <link href="/vendors/normalize-css/normalize.css" rel="stylesheet">
    <link href="/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
        <!-- Switchery -->
    <link href="/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="page-title">
       <div class="title_left">
          <h3><i class="fa fa-{{icon}}"></i> Admin {{ nav }} <small>You have the power</small></h3>
       </div>
       <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

             </div>
          </div>
       </div>
    <div class="clearfix"></div>
    <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
             <div class="x_title">
                <h2>List of domains in system <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    
                    <li><div class="item form-group pull-right">
                            <div id="global_actions" style="display:none">
                               <label class="control-label col-md-3 col-sm-3 col-xs-12 pull-left" for="mactions">Global actions: </label>
                               <div class="col-md-5 col-sm-5 col-xs-12">
                                   <select class="form-control" id="mactions" name="mactions" >
                                      <option value="none">Select action</option>
                                      <option value="toggle">Toggle status</option>
                                      <option value="stop_noviewer">Stop no viewers</option>
                                      <option value="force_stopped">Force Stopped</option>
                                      <option value="force_failed">Force Failed</option>
                                      <option value="delete">Delete</option>
                                   </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-app add-new-media" style="background-color:#F5FFDC;">
                          <i class="fa fa-circle-o"></i> New from ISO
                        </a>
                    </li>
    <!--
                    <li>
                        <a class="btn btn-app add-new-virtbuilder"  style="background-color:#F5FFDC;">
                          <i class="fa fa-wrench"></i> New From Builder
                        </a>
                     </li>
    -->
                </ul>
             <div class="clearfix"></div>
        </div>
        <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="tableDiv"></div>
                <table id="domains" class="table">
                   <thead>
                      <tr>
                          <th></th>
                         <th>Icon</th>
                         <th>Hypervisor</th>
                         <th>Name</th>
                         <th>Action</th>
                         <th>Status</th>
                         <th>Kind</th>
                         <th>User</th>
                         <th>Category</th>
                         <th>Group</th>
                         <th>last access</th>
                         {% if nav!="Desktops" %}
                         <th>Derivates</th>
                         {% endif %}
                      </tr>
                   </thead>
                   <tfoot>
                      <tr>
                          <th></th>
                         <th>Icon</th>
                         <th>Hypervisor</th>
                         <th>Name</th>
                         <th>Action</th>
                         <th>Status</th>
                         <th>Kind</th>
                         <th>User</th>
                         <th>Category</th>
                         <th>Group</th>
                         <th>last access</th>
                         {% if nav!="Desktops" %}
                         <th>Derivates</th>
                         {% endif %}
                      </tr>
                   </tfoot>
                   <tbody>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
    </div>

    <div class="clearfix"></div>
    {% include '/admin/pages/domains_modals.html' %}
    {% include '/pages/desktops_modals.html' %}
    {% include '/pages/desktops_detail.html' %}
    {% include '/pages/desktops_viewers.html' %}
    {% include '/snippets/alloweds_form.html' %}
    </div>
</div>

{% endblock %}

{% block pagescript %}
   <!-- Ion.RangeSlider -->
    <script src="/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- iCheck -->
    <script src="/vendors/iCheck/icheck.min.js"></script> 
    <!-- Switchery -->
    <script src="/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Isard restful ajax calls -->
    <script src="/static/js/restful.js"></script>
    <!-- Spice viewer -->
    <script src="/static/js/viewer.js"></script> 
    <!-- Domains sse & hardware subtables -->
    <script src="/static/admin/js/domains_installs.js"></script>    
    <script src="/static/admin/js/domains.js"></script>
<!--
    <script src="/static/admin/js/domains_subtables.js"></script>
-->
{% endblock %}
