<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
    <!-- Ion.RangeSlider -->
    <link href="/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
        <!-- Switchery -->
    <link href="/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="page-title">
       <div class="title_left">
          <h3><i class="fa fa-gears"></i> {{ nav }} <small>Available to domains</small></h3>
       </div>
       <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

             </div>
          </div>
       </div>
    <div class="clearfix"></div>

    <div class="clearfix"></div>
    <div class="row">
       <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
             <div class="x_title">
                        <h2><i class="fa fa-picture-o"></i> Graphics <small></small></h2> 
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="add-new-graphics"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
                          </li>
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
             <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="tableDiv"></div>
                <table id="graphics" class="table table-striped">
                   <thead>
                      <tr>
                         <th></th>
                         <th>Name</th>
                         <th>Description</th>
                         <th></th>
                      </tr>
                   </thead>
                   <tbody>
                   </tbody>
                </table>
             </div>
          </div>
       </div>

       <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
             <div class="x_title">
                        <h2><i class="fa fa-video-camera"></i> Videos <small></small></h2> 
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="add-new-videos"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
                          </li>
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
             <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="tableDiv"></div>
                <table id="videos" class="table table-striped">
                   <thead>
                      <tr>
                         <th></th>
                         <th>Name</th>
                         <th>Description</th>
                         <th></th>
                      </tr>
                   </thead>
                   <tbody>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
       <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
             <div class="x_title">
                        <h2><i class="fa fa-rss"></i> Interfaces <small></small></h2> 
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="add-new-interface"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
                          </li>
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
             <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="tableDiv"></div>
                <table id="interfaces" class="table table-striped">
                   <thead>
                      <tr>
                         <th></th>
                         <th>Name</th>
                         <th>Description</th>
                         <th>Network</th>
                         <th></th>
                      </tr>
                   </thead>
                   <tbody>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
       <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
             <div class="x_title">
                        <h2><i class="fa fa-rss"></i> Boots <small></small></h2> 
                        <ul class="nav navbar-right panel_toolbox">
<!--
                          <li><a class="add-new-boot"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
-->
                          </li>
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
             <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="tableDiv"></div>
                <table id="boots" class="table table-striped">
                   <thead>
                      <tr>
                         <th></th>
                         <th>Name</th>
                         <th>Description</th>
                         <th></th>
                      </tr>
                   </thead>
                   <tbody>
                   </tbody>
                </table>
             </div>
          </div>
    </div>
</div>


{% include '/admin/pages/domains_resources_modals.html' %}
{% include '/snippets/alloweds_form.html' %}
    
{% endblock %}

{% block pagescript %}
   <!-- Ion.RangeSlider -->
    <script src="/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- iCheck -->
    <script src="/vendors/iCheck/icheck.min.js"></script> 
    <!-- Switchery -->
    <script src="/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Isard restful ajax calls -->
    <script src="/static/js/restful.js"></script>
    <!-- Spice viewer -->
    <script src="/static/js/viewer.js"></script> 

    <script src="/static/admin/js/domains_resources.js"></script>
{% endblock %}
