    <div style="display:none">
            <div class="row hyper-pool-detail">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Paths <small>System paths</small></h2>
                                <div class="clearfix"></div>
                              </div>
                  <div class="x_content">
                    <table id="hyper-pools-paths-d.id" class="table table-striped">
                      <thead>
                        <tr>
                          <th>Type</th>
                          <th>Folder</th>
                          <th>Disk Operations</th>
                          <th>Weight</th>
                        </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="row"></div>
                          <div class="col-md-12 col-md-12 col-xs-12">
                            <div class="x_panel">
                              <div class="x_title">
                                <h2>Interfaces available on pool d.name<small>Networks available</small></h2>
                                <div class="clearfix"></div>
                              </div>
                              <div class="x_content">

                                <table id="hyper-pools-nets-d.id" class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>id</th>
                                      <th>Name</th>
                                      <th>Description</th>
                                      <th>Net</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  </tbody>
                                </table>

                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 col-md-12 col-xs-12">
                            <div class="x_panel">
                              <div class="x_title">
                                <h2>Viewer on pool d.name<small>Please use a Secure method</small></h2>
                                <div class="clearfix"></div>
                              </div>
                              <div class="x_content">

                                <table id="hyper-pools-viewer-d.id" class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>Mode</th>
                                      <th>Domain</th>
                                      <th>Certificate</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  </tbody>
                                </table>

                              </div>
                            </div>

                          </div>
                      <div class="clearfix"></div>
                      </div>
       </div>
