<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
<div class="right_col" role="main">
   <div class="page-title">
      <div class="title_left">
         <h3><i class="fa fa-cloud-download"></i> Updates <small>Get resources from IsardVDI</small></h3>
      </div>
      <div class="title_right">
            <form action="{{ url_for('admin_updates_reload') }}" method="post">
             <button id="reload" type="submit" class="btn btn-info"><i class="fa fa-refresh"></i></button>
            </form>  
      </div>      
    
   </div>
   <div class="clearfix"></div>
   {% if connected == false %}
        <div class="row">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Can't contact now with IsardVDI updates <small>Try again later...</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					It could be a network problem or we are currently updating IsardVDI oline updates server<br>
                    <div class="clearfix"></div>                        
                 </div>
                </div>
              </div>
            </div>
        </div>   
   {% elif registered == false %}
        <div class="row">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Not registered <small>Your IsardVDI is not registered for updates. </small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					Registering your IsardVDI only sets a unique id for this installation.<br>
                    No personal data is collected.<br>
                    <form action="{{ url_for('admin_updates_register') }}" method="post">
                     <button id="register" type="submit" class="btn btn-success">Register to get updates!</button>
                    </form>
                    <div class="clearfix"></div>                        
                 </div>
                </div>
              </div>
            </div>
    
        </div>
   {% else %}
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-desktop"></i> Domains <small>Download pre created domains as bases </small></h2>
                            <ul class="nav navbar-left panel_toolbox">
                               <li><a id="domains" class="btn-new update-all"><span style="color: #5499c7; "><i class="fa fa-download"></i> Download all</span></a>
                               </li>
                            </ul>
                            <ul class="nav navbar-right panel_toolbox">
                               <li><a class="collapse-link"><i class="fa fa-chevron-up" style="color: #0055ff;"></i></a>
                               </li>
                            </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					<table id="domains_tbl" class="table table-striped" width="100%">
					   <thead>
						  <tr>
                              <th></th>
							 <th></th>
							 <th>Name</th>
                             <th>Progress</th>
                             <th></th>
						  </tr>
					   </thead>
					   <tbody>
					   </tbody>
					</table>
                 </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-circle-o"></i> Media <small>Download useful isos and floppy</small></h2>
                            <ul class="nav navbar-left panel_toolbox">
                               <li><a id="media" class="btn-new update-all"><span style="color: #5499c7; "><i class="fa fa-download"></i> Download all</span></a>
                               </li>
                            </ul>
                            <ul class="nav navbar-right panel_toolbox">
                               <li><a class="collapse-link"><i class="fa fa-chevron-down" style="color: #0055ff;"></i></a>
                               </li>
                            </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="display:none;">
					<table id="media_tbl" class="table table-striped" width="100%">
					   <thead>
						  <tr>
                              <th></th>
							 <th></th>
							 <th>Name</th>
                             <th>Progress</th>
                             <th></th>
						  </tr>
					   </thead>
					   <tbody>
					   </tbody>
					</table>
                  </div>
                </div>
              </div>
              
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-book"></i> Builders <small>Create your desktops</small></h2>
                            <ul class="nav navbar-left panel_toolbox">
                               <li><a id="builders" class="btn-new update-all"><span style="color: #5499c7; "><i class="fa fa-download"></i> Download all</span></a>
                               </li>
                            </ul>
                            <ul class="nav navbar-right panel_toolbox">
                               <li><a class="collapse-link"><i class="fa fa-chevron-down" style="color: #0055ff;"></i></a>
                               </li>
                            </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="display:none;">                    
					<table id="builders_tbl" class="table table-striped" width="100%">
					   <thead>
						  <tr>
                             <th></th>
							 <th></th>
							 <th>Name</th>
                             <th></th>
						  </tr>
					   </thead>
					   <tbody>
					   </tbody>
					</table>
                 </div>
                </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-wrench"></i> Virt installs <small>Desktop configurations for diverse OSs</small></h2>
                            <ul class="nav navbar-left panel_toolbox">
                               <li><a id="virt_install" class="btn-new update-all"><span style="color: #5499c7; "><i class="fa fa-download"></i> Download all</span></a>
                               </li>
                            </ul>
                            <ul class="nav navbar-right panel_toolbox">
                               <li><a class="collapse-link"><i class="fa fa-chevron-down" style="color: #0055ff;"></i></a>
                               </li>
                            </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="display:none;">
					<table id="virt_install_tbl" class="table table-striped" width="100%">
					   <thead>
						  <tr>
                             <th></th>
							 <th></th>
							 <th>Name</th>
                             <th></th>
						  </tr>
					   </thead>
					   <tbody>
					   </tbody>
					</table>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-wrench"></i> Virt builders <small>Already created minimal OSs</small></h2>
                            <ul class="nav navbar-left panel_toolbox">
                               <li><a id="virt_builder" class="btn-new update-all"><span style="color: #5499c7; "><i class="fa fa-download"></i> Download all</span></a>
                               </li>
                            </ul>
                            <ul class="nav navbar-right panel_toolbox">
                               <li><a class="collapse-link"><i class="fa fa-chevron-down" style="color: #0055ff;"></i></a>
                               </li>
                            </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="display:none;">
					<table id="virt_builder_tbl" class="table table-striped" width="100%">
					   <thead>
						  <tr>
                             <th></th>
							 <th></th>
							 <th>Name</th>
                             <th></th>
						  </tr>
					   </thead>
					   <tbody>
					   </tbody>
					</table>
                  </div>
                </div>
              </div>
              
          </div>

          <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-video-camera"></i> Videos <small>Video resources</small></h2>
                            <ul class="nav navbar-left panel_toolbox">
                               <li><a id="videos" class="btn-new update-all"><span style="color: #5499c7; "><i class="fa fa-download"></i> Download all</span></a>
                               </li>
                            </ul>
                            <ul class="nav navbar-right panel_toolbox">
                               <li><a class="collapse-link"><i class="fa fa-chevron-down" style="color: #0055ff;"></i></a>
                               </li>
                            </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="display:none;">
					<table id="videos_tbl" class="table table-striped" width="100%">
					   <thead>
						  <tr>
                             <th></th>
							 <th></th>
							 <th>Name</th>
                             <th></th>
						  </tr>
					   </thead>
					   <tbody>
					   </tbody>
					</table>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-eye"></i> Viewers <small>Microsoft spice viewers</small></h2>
                            <ul class="nav navbar-left panel_toolbox">
<!--
                               <li><a id="media" class="btn-new update-all"><span style="color: #5499c7; "><i class="fa fa-download"></i> Download all</span></a>
-->
                               </li>
                            </ul>
                            <ul class="nav navbar-right panel_toolbox">
                               <li><a class="collapse-link"><i class="fa fa-chevron-down" style="color: #0055ff;"></i></a>
                               </li>
                            </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="display:none;">
					<table id="viewers_tbl" class="table table-striped" width="100%">
					   <thead>
						  <tr>
							 <th></th>
							 <th>Name</th>
                             <th></th>
						  </tr>
					   </thead>
					   <tbody>
					   </tbody>
					</table>
                  </div>
                </div>
              </div>
<!--
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Virt builders <small>Already created minimal OSs</small></h2>
                        <li class="">
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a id="virt_builder" class="btn-new update-all"><span style="color: #5499c7; "><i class="fa fa-download"></i> Download all</span></a>
                               </li>
                          <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                          </li>
                            </ul>
                        </li>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="display:none;">
					<table id="virt_builder_tbl" class="table table-striped" width="100%">
					   <thead>
						  <tr>
                             <th></th>
							 <th></th>
							 <th>Name</th>
                             <th></th>
						  </tr>
					   </thead>
					   <tbody>
					   </tbody>
					</table>
                  </div>
                </div>
              </div>
-->
              
          </div>

    {% endif %}
</div>
{% endblock %}
{% block pagescript %}
    <!-- bootstrap-progressbar -->
    <script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/static/js/restful.js"></script>
    <script src="/admin/js/updates.js"></script>
{% endblock %}
