migration:
  type: dict
  schema:
    notification_bar:
      type: dict
      schema:
        level:
          required: false
          type: string
          coerce: sanitize
        template:
          required: false
          type: string
          coerce: sanitize
        enabled:
          required: false
          type: boolean
    allow_automigration:
      required: false
      type: boolean
    export:
      required: false
      type: boolean
    import:
      required: false
      type: boolean
    action_after_migrate:
      required: false
      type: string
      coerce: sanitize
    force_migration:
      required: false
      type: boolean
ldap_config:
  type: dict
  schema:
    protocol:
      empty: false
      type: string
    host:
      empty: false
      type: string
    port:
      min: 1
      max: 65535
      type: integer
    bind_dn:
      empty: false
      type: string
    password:
      empty: false
      type: string
    base_search:
      empty: false
      type: string
    filter:
      empty: false
      type: string
    field_uid:
      empty: false
      type: string
    regex_uid:
      empty: false
      type: string
    field_username:
      empty: false
      type: string
    regex_username:
      empty: false
      type: string
    field_name:
      type: string
    regex_name:
      empty: false
      type: string
    field_email:
      type: string
    regex_email:
      empty: false
      type: string
    field_photo:
      type: string
    regex_photo:
      empty: false
      type: string
    auto_register:
      empty: false
      type: boolean
    auto_register_roles:
      type: string
    guess_category:
      empty: false
      type: boolean
    field_category:
      type: string
    regex_category:
      empty: false
      type: string
    field_group:
      type: string
    regex_group:
      empty: false
      type: string
    group_default:
      empty: false
      type: string
    role_list_search_base:
      type: string
    role_list_filter:
      empty: false
      type: string
    role_list_use_user_dn:
      empty: false
      type: boolean
    role_list_field:
      type: string
    role_list_regex:
      empty: false
      type: string
    role_admin_ids:
      type: string
    role_manager_ids:
      type: string
    role_advanced_ids:
      type: string
    role_user_ids:
      type: string
    role_default:
      empty: false
      type: string
    save_email:
      empty: false
      type: boolean
saml_config:
  type: dict
  schema:
    metadata_url:
      type: string
    metadata_file":
      type: string
    entity_id:
      type: string
    signature_method:
      type: string
    key_file:
      type: string
    cert_file:
      type: string
    max_issue_delay:
      type: string
    field_uid:
      empty: false
      type: string
    regex_uid:
      empty: false
      type: string
    field_username:
      empty: false
      type: string
    regex_username:
      empty: false
      type: string
    field_name:
      type: string
    regex_name:
      empty: false
      type: string
    field_email:
      type: string
    regex_email:
      empty: false
      type: string
    field_photo:
      type: string
    regex_photo:
      empty: false
      type: string
    auto_register:
      empty: false
      type: boolean
    auto_register_roles:
      type: string
    guess_category:
      empty: false
      type: boolean
    field_category:
      type: string
    regex_category:
      empty: false
      type: string
    field_group:
      type: string
    regex_group:
      empty: false
      type: string
    group_default:
      empty: false
      type: string
    field_role:
      type: string
    regex_role:
      empty: false
      type: string
    role_admin_ids:
      type: string
    role_manager_ids:
      type: string
    role_advanced_ids:
      type: string
    role_user_ids:
      type: string
    role_default:
      empty: false
      type: string
    logout_redirect_url:
      type: string
    save_email:
      empty: false
      type: boolean
google_config:
  type: dict
  schema:
    client_id:
      empty: false
      type: string
    client_secret:
      empty: false
      type: string
