### START 00_begin.cfg ###
resolvers mydns
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout retry 1s
    hold valid 10s

global
    daemon
    log stdout format raw local0
    stats socket /var/run/haproxy.sock mode 660 level admin expose-fd listeners
    stats timeout 2m
    # Buffer tuning
    tune.bufsize 32768
    tune.maxrewrite 4096
    # SSL tuning
    tune.ssl.cachesize 50000
    tune.ssl.lifetime 600
    tune.ssl.capture-buffer-size 96
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options prefer-client-ciphers no-sslv3 no-tlsv10 no-tlsv11
    # Compression tuning
    tune.comp.maxlevel 1
    set-var proc.http_port env(HTTP_PORT)
    set-var proc.https_port env(HTTPS_PORT)
    set-var proc.bastion_enabled env(BASTION_ENABLED)
    set-var proc.bastion_ssh_port env(BASTION_SSH_PORT)
    set-var proc.forbid_domain_ip env(FORBID_DOMAIN_IP)

defaults common
  timeout         connect 3s
  timeout         client 15s
  timeout         client-fin 20s
  timeout         server 25s
  timeout         tunnel 7200s
  maxconn         16384
  option          tcpka
  option          persist
  timeout tarpit  12s
  .if defined(HAPROXY_LOGGING)
    log global
  .endif
  .if !defined(HAPROXY_LOGGING_NORMAL)
    option dontlog-normal
  .endif

defaults tcp_defaults from common
  mode tcp
  .if defined(HAPROXY_LOGGING)
    log-format '{"time":"[%t]", "src":"%[src]", "bytes": "%B", "frontend":"%ft","backend":"%s", "blk":"%[var(txn.block)]"}'
  .endif

defaults http_defaults from common
  mode http
  option          forwardfor
  http-reuse always
  compression algo gzip
  compression type text/html text/plain text/css application/json application/javascript image/svg+xml
  .if defined(HAPROXY_LOGGING)
    log-format '{"time":"[%t]", "src":"%[src]", "method":"%[capture.req.method]", "status":"%ST", "uri":"%[capture.req.uri]", "frontend":"%ft","backend":"%s", "blk":"%[var(txn.block)]"}'
  .endif
### END 00_begin.cfg ###
