### START 04_squid.cfg ###
frontend  fe_proxy_squid
  bind 0.0.0.0:80
  mode tcp
  option tcplog
  tcp-request inspect-delay 10s

  # Blacklist & Whitelist
  acl blacklisted src -f /usr/local/etc/haproxy/lists/black.lst -f /usr/local/etc/haproxy/lists/external/black.lst
  acl whitelisted src -f /usr/local/etc/haproxy/lists/white.lst
  tcp-request content set-var(txn.block) str("BLACKLISTED") if blacklisted !whitelisted
  tcp-request content reject if blacklisted !whitelisted

  tcp-request content accept if { ssl_fc }
  tcp-request content accept if !HTTP
  use_backend redirecthttps-backend if !{ method CONNECT }
  default_backend be_isard-squid

backend be_isard-squid
  mode tcp
  option redispatch
  option abortonclose
  server squid isard-squid:8080 check port 8080 inter 5s rise 2 fall 3 resolvers mydns init-addr none
### END 04_squid.cfg ###
