### START 04_squid.cfg ###
frontend  fe_proxy_squid
  bind 0.0.0.0:80
  mode tcp
  option tcplog
  tcp-request inspect-delay 10s

  # Blacklist & Whitelist
  acl blacklisted src -f /usr/local/etc/haproxy/lists/black.lst -f /usr/local/etc/haproxy/lists/external/black.lst
  acl whitelisted src -f /usr/local/etc/haproxy/lists/white.lst
  tcp-request content set-var(txn.block) str("BLACKLISTED") if blacklisted !whitelisted !{ path_beg -i /.well-known/acme-challenge/ }
  tcp-request content reject if blacklisted !whitelisted !{ path_beg -i /.well-known/acme-challenge/ }

  tcp-request content accept if { ssl_fc }
  tcp-request content accept if !HTTP

  tcp-request content capture req.hdr(Host) len 150
  acl is_subdomain hdr_sub(Host) -i end ".${DOMAIN}"
  use_backend be_subdomain if is_subdomain

  use_backend be_letsencrypt if { path_beg -i /.well-known/acme-challenge/ }
  use_backend redirecthttps-backend if !{ method CONNECT }
  default_backend be_isard-squid

backend be_isard-squid
  mode tcp
  option redispatch
  option abortonclose
  server squid isard-squid:8080 check port 8080 inter 5s rise 2 fall 3 resolvers mydns init-addr none

backend be_subdomain
  mode tcp
  server bastion isard-bastion:1313 check port 1313 inter 5s rise 2 fall 3 resolvers mydns init-addr none
### END 04_squid.cfg ###
