<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
{% endblock %}

{% block content %}
<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
         <div class="x_title">
            <h3><i class="fa fa-cubes"></i> Templates <small></small></h3>
            <div class="clearfix"></div>
         </div>
         <div class="x_content">
            <p class="text-muted font-13 m-b-30">
            </p>
            <table id="templates" class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>icon</th>
                     <th>name</th>
                     <th>status</th>
                     <th>Shares</th>
                     <!--<th></th>-->
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

{% include '/pages/templates_detail.html' %}
{% include '/snippets/alloweds_form.html' %}
{% endblock %}

{% block pagescript %}
    <script src="/isard-admin/static/js/restful.js"></script>
    <script src="/isard-admin/static/js/templates.js"></script>
{% endblock %}


