<!-- extend base layout -->
{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="page-title">
        <div class="title_left">
          <h3>
            <i class="fa fa-cogs"></i> Bastion
            <small> Isard bastion configurations</small>
          </h3>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12" id="BastionConfig">
    <div class="x_panel">
      <div class="x_title">
        <h3>
          <i class="fa fa-wrench"></i> Bastion
          <small id="bastionStatusLabel"></small>
        </h3>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <span id="bastionStatusDescription" class="col-md-12 col-sm-12 col-xs-12"></span>

        <div class="col-md-6 col-sm-12 col-xs-12">
          <button
            type="button"
            id="btn-alloweds"
            class="btn btn-success"
            style="display: none;"
            hidden
          >
            <i class="fa fa-users"></i> Edit bastion alloweds
          </button>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <button
            type="button"
            id="btn-delete-disallowed"
            class="btn btn-danger"
            style="display: none;"
            hidden
          >
            <i class="fa fa-trash"></i> Delete disallowed bastion targets now
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  {% include '/snippets/alloweds_form.html' %} {% include
  '/admin/pages/system_modals.html' %} {% endblock %} {% block pagescript %}
  <script src="/isard-admin/static/js/restful.js"></script>
  <script src="/isard-admin/static/admin/js/bastion.js"></script>
  <script src="/isard-admin/static/js/snippets/form_items.js"></script>
  {% endblock %}
</div>
