<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}

<div class="row">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3><i class="fa fa-clock-o"></i> Booking Scheduler <small>System schedulers for bookings</small></h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="clearfix"></div>

                    <div class="x_content">
                        <table id="table-booking-scheduler" class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Kind</th>
                                    <th>Next run</th>
                                    <th>kwargs</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="clearfix"></div>
</div>

{% endblock %}
{% block pagescript %}
     	<script src="/isard-admin/static/js/restful.js""></script>
        <script src="/isard-admin/static/admin/js/bookables_events.js"></script>  
{% endblock %}
