		<div style="display:none">
            <div class="row template-detail-categories">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Category detail <small>Quotas and limits</small></h2>
                    <ul class="nav navbar-left panel_toolbox">

                    </ul>
                    <div class="clearfix"></div>
                  </div> <!-- end x_tittle -->
                  <div class="x_content">
                    <!-- <div class="col-md-12 col-sm-12 col-xs-12"> -->

                      <div class="profile_title">
                        <div class="col-md-6">
                          <h2>d.name</h2>
                        </div>
                        <div class="col-md-6">
                          <div id="actions-template-d.id" data-pk="d.id" data-name="d.name" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                            <button class="btn btn-info btn-xs pull-right btn-edit-category" type="button"  data-placement="top"><i class="fa fa-pencil m-right-xs" ></i>Edit category</button>
                            <button class="btn btn-info btn-xs pull-right btn-edit-quotas" type="button"  data-placement="top"><i class="fa fa-pencil m-right-xs" ></i>Quotas</button>
                            <button class="btn btn-info btn-xs pull-right btn-edit-limits" type="button"  data-placement="top"><i class="fa fa-pencil m-right-xs" ></i>Limits</button>
                            <button class="btn btn-danger btn-xs pull-right btn-delete" type="button"  data-placement="top" ><i class="fa fa-remove m-right-xs"></i>Delete</button>
                          </div>
                        </div>
                      </div>

                      <!-- CONTENT -->

                          
                    <!-- </div> -->
                  </div>
                </div> <!-- end of x_panel -->
              </div>
            </div> <!-- end row -->
    </div>
