<!-- extend base layout -->
{% extends "base.html" %} {% block css %}
<!--
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/epoch/0.6.0/epoch.min.css">
-->
{% endblock %} {% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h3><i class="fa fa-rocket"></i> Hypervisors list<small> System hypervisors</small></h3>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="btn-new-hyper"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a></li>
          <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div id="engine_status" class="x_title">
        <i class="fa fa-warning" style="font-size:16px;color:red"></i>
      </div>
      <div class="x_content">
        <table id="hypervisors" class="table">
          <thead>
            <tr>
              <th></th>
              <th>Enabled</th>
              <th>Status</th>
              <th title="This hypervisor has disk op capabilities thread running">Disk</th>
              <th title="This hypervisor has virtualization capabilities thread running">Hyp</th>
              <th title="Will only start desktops with this hyper as forced">Only Forced</th>
              <th title="Will only start desktops with GPU resources">Only GPU</th>
              <th>ID</th>
              <th>Hostname</th>
              <th>RAM</th>
              <th>CPU</th>
              <th>Last Status Change</th>
              <th title="Started desktops in this hyper">Desktops</th>
              <th title="Has GPU profiles enabled to be used">GPU cards</th>
              <th title="This hypervisor connected to wg 4443/UPD isard-vpn OVS">VPN</th>
              <th title="This hypervisor allow nested desktops virtualization">Nested</th>
              <th title="noVNC HTML5 viewers isard-static host to load src">Static</th>
              <th title="Where will desktops running in this hypervisor point it's viewer">Proxy Video</th>
              <th title="Hardware virtualization enabled">Virt</th>
              <th>QEMU</th>
              <th>Libvirt</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel"  style="background-color: rgba(166, 144, 238, 0.032);">
      <div class="x_title">
        <h3><i class="fa fa-magic"  style="color:rgb(166, 144, 238)"></i> Orchestrator Managed Hypervisors</h3>
        <ul class="nav navbar-right panel_toolbox">
          <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="orchestrator_hypervisors" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Destroy time</th>
              <th>RAM</th>
              <th>CPU</th>
              <th>Desktops</th>
              <th>Last Status Change</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h3><i class="fa fa-object-group"></i> Hypervisors pools list<small> Pools grouping</small></h3>
        <ul class="nav navbar-right panel_toolbox">
          <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="hypervisors_pools" class="table">
          <thead>
            <tr>
              <th></th>
              <th>name</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% include '/admin/pages/hypervisors_modals.html' %} {% include '/admin/pages/hypervisors_detail.html' %} {% include '/admin/pages/hypervisor_pool_detail.html' %}
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h3><i class="fa fa-briefcase"></i> GPUs <small></small></h3>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="btn-new-gpu" data-panel="gpus"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
            <li><a class="btn-assing-vgpus" data-panel="gpus"><span style="color: #5499c7; "><i class="fa fa-spinner"></i> Reassign physical devices</span></a>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="table-gpus" class="table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Description</th>
              <th>Physical Dev</th>
              <th>Active Profile</th>
              <th>Plans</th>
              <th>Desktops started</th>
              <th>Brand</th>
              <th>Model</th>
              <th>Architecture</th>
              <th>Memory</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block pagescript %}

<script src="/isard-admin/static/js/restful.js"></script>
<script src="/isard-admin/static/admin/js/hypervisors.js"></script>
<script src="/isard-admin/static/admin/js/orchestrator_hypervisors.js"></script>
<script src="/isard-admin/static/admin/js/hypervisors_detail.js"></script>
<script src="/isard-admin/static/admin/js/hypervisors_gpus.js"></script>
<script src="/isard-admin/static/admin/js/hypervisors_pools.js"></script>
{% endblock %}