<div style="display:none">
  <div class="row hyper-detail">
    <div class="col-md-1 col-sm-1 col-xs-12">
      <div class="row">
        <div class="col-md-12 col-md-12 col-xs-12" id="actions-enable-d.id" data-pk="d.id">
          <button class="btn btn-success btn-xs pull-right btn-enable" type="button" data-placement="top"><i
              class="fa fa-power-off m-right-xs"></i> Enable/Disable</button>
          <button class="btn btn-success btn-xs pull-right btn-onlyforced" type="button" data-placement="top"><i
              class="fa fa-rocket m-right-xs"></i> Only forced</button>
          <button class="btn btn-success btn-xs pull-right btn-gpu_only" type="button" data-placement="top"><i
              class="fa fa-briefcase m-right-xs"></i> GPU only</button>
          <button class="btn btn-success btn-xs pull-right btn-orchestrator" type="button" data-placement="top"><i
              class="fa fa-magic m-right-xs"></i> <b>Orchestrator</b></button>
        </div>
        <div class="col-md-12 col-md-12 col-xs-12" id="actions-delete-d.id" data-pk="d.id">
          <button class="btn btn-danger btn-xs pull-right btn-delete" type="button" data-placement="top"><i
              class="fa fa-trash m-right-xs"></i><span id="delete_btn_text"> Delete</span></button>
          <button class="btn btn-info btn-xs pull-right btn-edit" type="button" data-placement="top"><i
              class="fa fa-pencil m-right-xs"></i> Edit</button>
        </div>
        <div class="col-md-12 col-md-12 col-xs-12" id="actions-domains-d.id" data-pk="d.id">
          <button class="btn btn-warning btn-xs pull-right btn-domstop " type="button" data-placement="top"><i
              class="fa fa-ban m-right-xs"></i> Stop all domains</button>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-12">
      <div class="x_panel" style="background-color:#F7F7F7">
        <div class="row">
          <div class="col-md-12 col-md-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                <h2>Status detailed info: <small id="status-detail-d.id"></small></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6 col-md-6 col-xs-6">
            <div class="x_panel">
              <div class="x_content">
                <div class="x_title">
                  <h3>Disk usage</h3>
                  <div class="clearfix"></div>
                </div>
                <table id="table-mountpoints-d.id" class="table">
                  <thead>
                    <tr>
                      <th>Mount</th>
                      <th>Usage</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-md-6 col-xs-6">
            <div class="x_panel">
              <div class="x_content">
                <div class="x_title">
                  <h3>Desktops Started</h3>
                  <div class="clearfix"></div>
                </div>
                <table id="domains-table-d.id" class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>vCPUs</th>
                      <th>RAM</th>
                      <th>User</th>
                      <th>Category</th>
                      <th>Group</th>
                      <th>Server</th>
                      <th>Persistent</th>
                      <th>ID</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-6 col-xs-6">
            <div class="x_panel">
              <div class="x_content">
                <div class="x_title">
                  <h3>Storage Virtualization Pools</h3>
                  <div class="clearfix"></div>
                </div>
                <table id="virt_pools-table-d.id" class="table">
                  <thead>
                    <tr>
                      <th>Pool</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-md-6 col-xs-6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>