<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="page-title">
                <div class="title_left">
                    <h3><i class="fa fa-bell"></i> Notifications <small></small></h3>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h3><i class="fa fa-sliders"></i><i class="fa fa-edit"></i> Custom Notification Templates<small> Templates that can be added, edited, or deleted</small></h3>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="btn btn-add-notification-tmpl" data-panel="custom-notification-tmpls"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add template</span></a>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p class="text-muted font-13 m-b-30"></p>
            <div id="custom-table-div"></div>
            <table id="custom-notification-tmpls-table" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Default language</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h3><i class="fa fa-cogs"></i><i class="fa fa-edit"></i> System Notification Templates<small> Preconfigured templates</small></h3>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p class="text-muted font-13 m-b-30"></p>
            <div id="system-table-div"></div>
            <table id="system-notification-tmpls-table" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Default language</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% include '/admin/pages/notifications_modals.html' %}
{% include '/admin/pages/notifications_detail.html' %}
{% endblock %}
{% block pagescript %}
<script src="/isard-admin/static/js/restful.js"></script>
<script src="/isard-admin/static/admin/js/notifications.js"></script>
<script src="/isard-admin/static/js/snippets/form_items.js"></script>
{% endblock %}