<div class="modal fade" id="modalUnusedTime" tabindex="-1" role="dialog" aria-labelledby="modalUnusedTime" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="modalUnusedTimeLabel">Unused item timeout Configuration</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalUnusedTimeForm" class="form-inline form-label-left">
                    <input hidden id="id" name="id">
                    <div class="x_panel">
                        <div class="row">
                            <div class="col-md-5 col-xs-12" style="margin-bottom:10px;">
                                <label class="control-label" for="name">Name <span class="required">*</span></label>
                                <input id="name" class="form-control roundbox" maxlength="50" name="name" placeholder="Name" required type="text" style="width:100%">
                            </div>
                            <div class="col-md-7" style="margin-bottom:10px;">
                                <label class="control-label" for="description">Description</label>
                                <input id="description" class="form-control roundbox" maxlength="255" name="description" placeholder="Description" type="text" style="width:100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom:10px;">
                                <label class="control-label" for="op">Operation <span
                                    class="required">*</span></label>
                                    <select id="op" name="op" style="width:100%" class="form-control roundbox" required>
                                    </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-12" style="margin-bottom:10px;">
                                <label class="control-label" for="priority">Priority <span class="required">*</span></label>
                                <input id="priority" class="form-control roundbox" name="priority" placeholder="Priority" required type="number" style="width:100%">
                            </div>
                            <div class="col-md-8 col-xs-12" style="margin-bottom:10px;">
                                <label class="control-label" for="cutoff_time">Unused after <span class="required">*</span></label>
                                <select class="form-control roundbox" id="cutoff_time" name="cutoff_time" required style="width:100%">
                                    <option selected value="null">-- Disabled (Always keep unused desktops)-- </option>
                                    <option value="1">1 month</option>
                                    <option value="2">2 months</option>
                                    <option value="3">3 months</option>
                                    <option value="4">4 months</option>
                                    <option value="5">5 months</option>
                                    <option value="6">6 months</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button id="send" type="button" class="btn btn-success"><span id="send-button-text">Save</span></button></li>
                </ul>
            </div>

        </div>
    </div>
</div>
