<div style="display:none">
  <div class="row template-recycle_bin-detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="background-color: #F7F7F7">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" id="desktops-panel">
              <div class="x_content">
                <div class="x_title">
                  <h3>Desktops <span class="quantity"></span></h3>
                  <div class="clearfix"></div>
                </div>
                <table id="recycleBinDesktopsTable" class="table table-bordered">
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" id="templates-panel">
              <div class="x_content">
                <div class="x_title">
                  <h3>Templates <span class="quantity"></span></h3>
                  <div class="clearfix"></div>
                </div>
                <table id="recycleBinTemplatesTable" class="table table-bordered">
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" id="storages-panel">
              <div class="x_content">
                <div class="x_title">
                  <h3>Storages <span class="quantity"></span></h3>
                  <div class="clearfix"></div>
                </div>
                <table id="recycleBinStorageTable" class="table table-bordered">
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" id="deployments-panel">
              <div class="x_content">
                <div class="x_title">
                  <h3>Deployments <span class="quantity"></span></h3>
                  <div class="clearfix"></div>
                </div>
                <table id="recycleBinDeploymentsTable" class="table table-bordered">
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" id="users-panel">
              <div class="x_content">
                <div class="x_title">
                  <h3>Users <span class="quantity"></span></h3>
                  <div class="clearfix"></div>
                </div>
                <table id="recycleBinUsersTable" class="table table-bordered">
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" id="groups-panel">
              <div class="x_content">
                <div class="x_title">
                  <h3>Groups <span class="quantity"></span></h3>
                  <div class="clearfix"></div>
                </div>
                <table id="recycleBinGroupsTable" class="table table-bordered">
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" id="categories-panel">
              <div class="x_content">
                <div class="x_title">
                  <h3>Categories <span class="quantity"></span></h3>
                  <div class="clearfix"></div>
                </div>
                <table id="recycleBinCategoriesTable" class="table table-bordered">
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>