<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h3>
        <i class="fa fa-folder-open"></i>
        Storage files
        <small>Desktop and template files</small>
      </h3>
      <ul class="nav navbar-right panel_toolbox">
        {% if current_user.role == 'admin' %}
        <li>
          <a class="btn-add-storage">
            <span style="color: #5499c7; ">
              <i class="fa fa-plus"></i>
              Create storage</span>
          </a>
        </li>
        {% endif %}
      </ul>
      <div class="clearfix"></div>
    </div>
    {% if current_user.role == 'admin' %}
    <div class="x_content">
      <p class="text-muted font-13 m-b-30"></p>
      <div style="display:inline-flex;">
        <div style="display:block; width: 15cm;">
          <label class="control-label col-md-3 col-sm-3 col-xs-12 pull-left" for="mactions">
            <h4>
              Global actions:
            </h4>
          </label>
          <div class="col-md-5 col-sm-5 col-xs-12" style="margin-bottom: 20px;">
            <select class="form-control mactionsStorage" name="mactions" selectedTableId="storage" status="ready">
              <option value="none">Select action</option>
              <option value="find">Find & update disks</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="x_content">
      <table id="storage" class="table" width="100%">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h3>Storages in other status<small> Select status to load</small></h3>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p class="text-muted font-13 m-b-30"></p>
      <div style="display:inline-flex;">
        <div id="other_status" style="display:block; width: 15cm;">
          <label class="control-label col-md-4 col-sm-4 col-xs-12 pull-left" for="status">
            <h4>
              Other storages status
            </h4>
          </label>
          <div class="col-md-5 col-sm-5 col-xs-12" style="margin-bottom: 20px;">
            <select class="form-control" id="status" name="status">
              <option value="none">Select status</option>
            </select>
          </div>
        </div>
      </div>
      {% if current_user.role == 'admin' %}
      <div style="display:inline-flex;">
        <div style="display:block; width: 15cm;">
          <label class="control-label col-md-3 col-sm-3 col-xs-12 pull-left" for="mactions">
            <h4>
              Global actions:
            </h4>
          </label>
          <div class="col-md-5 col-sm-5 col-xs-12" style="margin-bottom: 20px;">
            <select class="form-control mactionsStorage" name="mactions" selectedTableId="storagesOtherTable" status="">
              <option value="none">Select action</option>
              <option value="find">Find & update disks</option>
            </select>
          </div>
        </div>
      </div>
      {% endif %}
      <table id="storagesOtherTable" class="table" width="100%">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include '/admin/pages/storage_detail.html' %}
{% include '/admin/pages/storage_modals.html' %}
{% endblock %}
{% block pagescript %}
<script src="/isard-admin/static/admin/js/storage.js"></script>
{% endblock %}