<style>
    .alert-error {
        margin-bottom: 0px;
    }

    #modalIncreaseStorage .parsley-errors-list {
        position: fixed;
    }

    .file-upload {
        cursor: pointer;
        width: 100% !important;
        border: none;
        padding: 0px;
        font-size: initial;
        box-shadow: none !important;
    }
</style>

<div class="modal fade" id="modalConvertStorage" tabindex="-1" role="dialog" aria-labelledby="modalConvertStorage"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exchange"></i> Convert disk</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalConvertStorageForm" class="form-inline form-label-left">
                    <input hidden id="id" name="storage_id" />
                    <div class="x_panel">
                        <div class="row">
                            <div class="x_title">
                                <h4>Convert storage disk to a different disk format</h4>
                                <div class="clearfix">
                                </div>
                            </div>
                            <div class="x_panel">
                                <div class="col-md-6">
                                    <label class="control-label">Current disk format:</label>
                                    <select id="current-disk_format" style="width:100%;" disabled
                                        class="roundbox form-control">
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">New disk format: </label>
                                    <select name="new_storage_type" style="width:100%;" id="new-disk_format"
                                        class="roundbox form-control"></select>
                                    <label class="control-label" for="compress-enabled" style="margin:10px">
                                        <div class="icheckbox_flat-green" style="position: relative;">
                                            <input type="checkbox" id="compress-cb" name="compress-cb" class="flat"
                                                style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            </ins>
                                        </div>
                                        Compress
                                    </label>
                                </div>
                            </div>
                            <div class="x_title">
                                <h4>Other options</h4>
                                <div class="clearfix">
                                </div>
                            </div>
                            <div class="x_panel">
                                <div class="col-md-6">
                                    <label class="control-label" for="change_status-enabled" style="margin:10px">
                                        <div class="icheckbox_flat-green" style="position: relative;">
                                            <input type="checkbox" id="change_status-cb" name="change_status-cb"
                                                class="flat" style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            </ins>
                                        </div>
                                        Change disk status
                                    </label>
                                </div>
                                <div class="col-md-6" id="new_status-content" style="display:none;">
                                    <label class="control-label">New status:</label>
                                    <select id="new-status" name="new_status" class="roundbox form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="x_panel" id="priority-panel">
                                <label class="col-md-2" style="margin-left:10px;">Priority: </label>
                                <div class="col-md-4">
                                    <select name="priority" id="priority" class="roundbox form-control" style="width:100%;">
                                    </select>
                                </div>
                            </div>
        
                            
                        </div>
                        <div class="row">
                            <div role="alert" class="alert alert-error">
                                <i class="fa fa-warning"></i> WARNING: This process may take a long time. The disk will
                                be unavailable until the conversion is complete.
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button id="send" type="button" class="btn btn-success"><i class="fa fa-warning"></i>
                            Convert</button></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalIncreaseStorage" tabindex="-1" role="dialog" aria-labelledby="modalIncreaseStorage"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-external-link-square"></i> Increase disk size
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalIncreaseStorageForm" class="form-inline form-label-left">
                    <input hidden id="id" name="storage_id" />
                    <input hidden id="current_size" name="current_size" />
                    <div class="x_panel">
                        <div class="row">
                            <label class="col-md-3 col-sm-6">Current size:</label>
                            <div class="col-md-3 col-sm-6" id="current-size">
                                GB
                            </div>
                            <label class="col-md-2 col-sm-6">New size:</label>
                            <div class="col-md-3 col-sm-6">
                                <input class="form-control roundbox" name="new_size" type="number" placeholder="20"
                                    style="width:80%" id="new-size" data-parsley-trigger="change"
                                    data-parsley-type="number" required /> GB
                                <ul style="display:none" class="parsley-errors-list filled" id="parsley-id-9"
                                    aria-hidden="false"></ul>
                            </div>
                            <div class="col-md-6" id="max-quota-div"><i>(max. <span id="max-quota"></span>GB)</i></div>
                        </div>
                    </div>
                    <div class="x_panel" id="priority-panel">
                        <div class="row">
                            <label class="col-md-3">Priority: </label>
                            <div class="col-md-3">
                                <select name="priority" id="priority" class="roundbox form-control" style="width:100%;">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="x_panel">
                        <div class="row">
                            <div role="alert" class="alert alert-error"><i class="fa fa-warning"></i> WARNING: Please be
                                mindful that this action could potentially lead to storage data corruption.
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button id="send" type="button" class="btn btn-success"></i>
                            Increase</button></li>
                </ul>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="modalCreateStorage" tabindex="-1" role="dialog" aria-labelledby="modalCreateStorage"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-plus"></i> Create disk</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalCreateStorageForm" class="form-inline form-label-left">
                    <input hidden id="id" name="parent" />
                    <input hidden id="kind" name="kind" />
                    <div class="x_panel">
                        <div class="row">
                            <h4></h4>
                            <div class="x_panel">
                                <div class="row x_content">
                                    <div class="col-md-12" id="owner-wrapper">
                                        <label class="control-label">Owner: </label>
                                        <select name="user_id" id="user" style="width:100%;"
                                            class="roundbox form-control tags-select">
                                        </select>
                                    </div>
                                </div>
                                <div class="row x_content">
                                    <div class="col-md-12" id="storage_id-wrapper">
                                        <label class="control-label">Parent storage ID: </label>
                                        <span id="storage_id">
                                    </div>
                                </div>
                                <div class="row x_content">
                                    <div class="col-md-6 col-sm-12">
                                        <label class="control-label">Type: </label>
                                        <select name="usage_type" id="usage_type" style="width:100%;"
                                            class="roundbox form-control">
                                            <option selected value="desktop">Desktop</option>
                                            <option value="media">Media</option>
                                            <option value="template">Template</option>
                                            <option value="volatile">Volatile</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label class="control-label">New disk format: </label>
                                        <select disabled name="storage_type" id="storage_type" style="width:100%;"
                                            class="roundbox form-control">
                                            <option selected value="qcow2">.qcow2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row x_content">
                                    <div class="col-md-6 col-sm-12">
                                        <label class="control-label">Priority: </label>
                                        <select name="priority" id="priority" style="width:100%;"
                                            class="roundbox form-control">
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label class="control-label">Size: <br></label>
                                        <div>
                                            <input style="width:66%;" value="10" name="size" id="size" type="number"
                                                class="roundbox form-control" data-parsley-trigger="change">
                                            <select disabled name="size_unit" style="width:32%;display:inline!important;"
                                                id="size_unit" class="roundbox form-control">
                                                <option value="M">MB</option>
                                                <option selected value="G">GB</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button id="send" type="button" class="btn btn-success">Create</button></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalVirtWinReg" tabindex="-1" role="dialog" aria-labelledby="modalVirtWinReg"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-edit"></i> Apply Windows Registry Patch</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalVirtWinRegForm" class="form-inline form-label-left">
                    <input hidden id="id" name="storage_id" />
                    <input hidden id="kind" name="kind" />
                    <div class="x_panel">
                        <label for="registry_file" class="form-label">Upload registry file</label>
                        <div class="x_panel">
                            <input class="form-control form-control-lg file-upload" name="registry_file"
                                id="registry_file" type="file" accept=".reg" required>
                        </div>
                        <div class="x_panel">
                            <label class="control-label">Priority:</label>
                            <select name="priority" id="priority" class="form-control tags-select roundbox"
                                style="width:50%;">
                            </select>
                        </div>


                        <div class="row">
                            <div role="alert" class="alert alert-error">
                                <i class="fa fa-warning"></i> Make sure you understand the risks associated with
                                modifying the registry.
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="send" type="button" class="btn btn-success"><i class="fa fa-warning"></i>
                            Apply</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>