<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="page-title">
                <div class="title_left">
                    <h3><i class="fa fa-cogs"></i> System <small> Isard global configurations</small></h3>
                </div>
            </div> 
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3><i class="fa fa-wrench"></i> Maintenance mode</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <span id="maintenance_wrapper" style="display: none">
                    <input id="maintenance_checkbox" type="checkbox">
                </span>
                <i id="maintenance_spinner" class="fa fa-spinner fa-lg fa-spin"></i>
                <label for="maintenance_checkbox">Maintenance mode enabled</label>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>


{% include '/snippets/alloweds_form.html' %}
{% endblock %}
{% block pagescript %}
    <script src="/isard-admin/static/js/restful.js"></script>
    <script src="/isard-admin/static/admin/js/system.js"></script>
    <script src="/isard-admin/static/js/snippets/form_items.js"></script>
{% endblock %}
