
  <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

  <link href="../src/skin-win8/ui.fancytree.css" rel="stylesheet">
  <script src="../src/jquery.fancytree.js"></script>


  <p class="description">
    This tree has <b>checkoxes and selectMode 3 (hierarchical multi-selection)</b> enabled.<br>
    Node `n3` features different variations of the <code>unselectable</code> mode.
  </p>
  <p>
    <a href="#" id="btnSelectAll3">Select all</a> -
    <a href="#" id="btnDeselectAll3">Deselect all</a> -
    <a href="#" id="btnGetSelected3">Get selected</a>
  </p>
  <div id="tree3"></div>
  <div>Selected keys: <span id="echoSelection3">-</span></div>
  <div>Selected root keys: <span id="echoSelectionRootKeys3">-</span></div>
