<div style="display:none">
  <div class="row template-detail-users">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="background-color: #F7F7F7;">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_content">
                    <div class="x_panel">
                      <div id="actions-d.id" data-pk="d.id" data-name="d.name" data-username="d.username" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px">
                        <button class="btn btn-success btn-xs btn-active" type="button"  data-placement="top" ><i class="fa fa-power-off m-right-xs"></i> Enable/Disable</button>
                        <button class="btn btn-info btn-xs btn-passwd" type="button"  data-placement="top"><i class="fa fa-unlock-alt m-right-xs" ></i> Reset passwd</button>
                        <button class="btn btn-info btn-xs btn-vpn" type="button"  data-placement="top"><i class="fa fa-shield m-right-xs" ></i> Reset VPN</button>
                        <button class="btn btn-info btn-xs btn-edit" type="button"  data-placement="top"><i class="fa fa-pencil m-right-xs" ></i> Edit</button>
                        <button class="btn btn-info btn-xs btn-migrate" type="button" title="Migrate user's resources to another user account" data-placement="top" ><i class="fa fa-exchange m-right-xs"></i> Migrate</button>
                        <button class="btn btn-primary btn-xs btn-impersonate" type="button"  data-placement="top" ><i class="fa fa-male m-right-xs"></i> Impersonate</button>
                        <button class="btn btn-warning btn-xs btn-revoke" type="button"  data-placement="top" ><i class="fa fa-sign-out m-right-xs"></i> Log Out</button>
                        <button class="btn btn-danger btn-xs btn-delete" type="button"  data-placement="top" ><i class="fa fa-trash m-right-xs"></i> Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>