<div style="display:none">
  <div class="row template-detail-users">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="background-color: #F7F7F7;">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_content">
                    <div class="x_panel">
                      <div id="actions-d.id" data-pk="d.id" data-name="d.name" data-username="d.username" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px">
                        <button class="btn btn-info btn-xs btn-edit" type="button"  data-placement="top"><i class="fa fa-pencil m-right-xs" ></i>Edit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-8 col-xs-8">
                  <div class="x_content">
                    <div class="x_panel">
                      <div class="x_title">
                        <h3>Quotas for this user <small></small></h3>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <div id="show-users-quota-d.id" class="show-users-quota" style="padding: 5px;">
                          {% include '/snippets/quota_edit.html' %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
