<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3><i class="fa fa-eye"></i> Viewers custom options <small> Preconfigured viewer options</small></h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="viewers-conf-table" class="table">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include '/admin/pages/viewers_config_modals.html' %}
{% endblock %}
{% block pagescript %}
<script src="/isard-admin/static/admin/js/viewers_config.js"></script>
{% endblock %}